<!--  -->
<div *ngIf="loader" class="content-element-center">
  <mat-spinner></mat-spinner>
</div>

<div class="cart" *ngIf="!emptyCart && !loader">
  <div class="cart-header">
    <h2 class="cart-header-title">Оформити замовлення</h2>
  </div>
  <div class="cart-content">
    <!--  -->
    <div class="cart-content-main">
      <div class="main">
        <div class="checkout-content">
          <!-- ========================================================================================== -->
          <!-- Cart START -->
          <div class="cart-step step" *ngIf="stepper.activeBlock !== 0">
            <div class="step-text">
              <h2
                class="step-text-title"
                [ngClass]="{
                  title__error: !stepper.validityCart && stepper.touchCart
                }"
              >
                1. Ваше замовлення
              </h2>
            </div>
            <div class="step-button">
              <button
                mat-raised-button
                color="primary"
                (click)="stepper.activeBlock = 0"
              >
                Змінити
              </button>
            </div>
          </div>
          <div
            class="checkout__block checkout-item"
            [ngClass]="{
              checkout__hidden: stepper.activeBlock !== 0
            }"
            #cartStep
          >
            <div class="checkout-item-content checkout-item-cart">
              <div class="checkout-item-content__title">
                <h2 class="step__title">1. Ваше замовлення</h2>
              </div>
              <ul class="checkout-item-cart__list">
                <li
                  class="sub-list"
                  *ngFor="let product of shoppingCart; let idx = index"
                >
                  <app-product-card-shopping-cart
                    [productItem]="product"
                    (transferCounter)="gettingCounter($event)"
                    (transferDelete)="gettingIdDelete($event)"
                  ></app-product-card-shopping-cart>
                </li>
              </ul>
              <div class="checkout-item-cart__btn">
                <button
                  mat-raised-button
                  color="primary"
                  (click)="nextStep()"
                  [disabled]="!stepper.validityCart"
                >
                  Продовжити оформлення
                </button>
              </div>
            </div>
          </div>
          <!-- Cart END -->
          <!-- ========================================================================================== -->
          <!-- Contacts START -->
          <div class="contacts-step step" *ngIf="stepper.activeBlock !== 1">
            <div class="step-text">
              <h2
                class="step-text-title"
                [ngClass]="{
                  title__error:
                    !stepper.validityContacts && stepper.touchContacts
                }"
              >
                2. Контактна інформація
              </h2>
            </div>
            <div class="step-button">
              <button
                mat-raised-button
                color="primary"
                (click)="stepper.activeBlock = 1"
                *ngIf="stepper.touchContacts"
              >
                Змінити
              </button>
            </div>
          </div>
          <div
            class="checkout__block checkout-item"
            [ngClass]="{
              checkout__hidden: stepper.activeBlock !== 1
            }"
            #contactsStep
          >
            <div class="checkout-item-content checkout-item-contacts">
              <div class="checkout-item-content__title">
                <h2 class="step__title">1. Контактна інформація</h2>
              </div>
              <div class="checkout-item-contacts__form">
                <!--  -->
                <form action="" [formGroup]="formContacts" class="form">
                  <!--  -->
                  <mat-form-field class="form-item" appearance="fill">
                    <mat-label>Ім'я</mat-label>
                    <input formControlName="name" matInput />
                  </mat-form-field>
                  <!--  -->
                  <mat-form-field class="form-item" appearance="fill">
                    <mat-label>E-mail</mat-label>
                    <input matInput type="email" formControlName="email" />
                  </mat-form-field>
                  <!--  -->
                  <mat-form-field class="form-item" appearance="fill">
                    <mat-label>Номер телефона</mat-label>
                    <span matPrefix>+38 &nbsp;</span>
                    <input
                      type="tel"
                      matInput
                      placeholder="067-000-11-22"
                      formControlName="tel"
                    />
                  </mat-form-field>
                  <!--  -->
                </form>
                <!--  -->
              </div>
              <div class="checkout-item-contacts__btn">
                <button
                  mat-raised-button
                  color="primary"
                  (click)="nextStep()"
                  [disabled]="formContacts.invalid"
                >
                  Продовжити оформлення
                </button>
              </div>
            </div>
          </div>
          <!-- Contacts END-->
          <!-- ========================================================================================== -->
          <!-- Shipping START -->
          <div class="shipping-step step" *ngIf="stepper.activeBlock !== 2">
            <div class="step-text">
              <h2
                class="step-text-title"
                [ngClass]="{
                  title__error:
                    !stepper.validityShipping && stepper.touchShipping
                }"
              >
                3. Спосіб доставки
              </h2>
            </div>
            <div class="step-button">
              <button
                mat-raised-button
                color="primary"
                (click)="stepper.activeBlock = 2"
                *ngIf="stepper.touchShipping"
              >
                Змінити
              </button>
            </div>
          </div>
          <div
            class="checkout__block checkout-item checkout-item-shipping"
            [ngClass]="{
              checkout__hidden: stepper.activeBlock !== 2
            }"
            #shippingStep
          >
            <div class="checkout-item-content">
              <div class="checkout-item-content__title">
                <h2 class="step__title">3. Спосіб доставки</h2>
              </div>
              <div class="checkout-item-shipping__btn">
                <button mat-raised-button color="primary" (click)="nextStep()">
                  Продовжити оформлення
                </button>
              </div>
            </div>
          </div>
          <!-- Shipping END -->
          <!-- ========================================================================================== -->
          <!-- Payment START -->
          <div class="payment-step step" *ngIf="stepper.activeBlock !== 3">
            <div class="step-text">
              <h2
                class="step-text-title"
                [ngClass]="{
                  title__error: !stepper.validityPayment && stepper.touchPayment
                }"
              >
                4. Спосіб оплати
              </h2>
            </div>
          </div>
          <div
            class="checkout__block checkout-item"
            [ngClass]="{
              checkout__hidden: stepper.activeBlock !== 3
            }"
            #paymentStep
          >
            <div class="checkout-item-content checkout-item-payment">
              <div class="checkout-item-content__title">
                <h2 class="step__title">4. Спосіб оплати</h2>
              </div>
              <div class="checkout-item-payment__form">
                <!--  -->
              </div>
              <div class="checkout-item-contacts__btn">
                <button mat-raised-button color="primary" (click)="nextStep()">
                  Оформити замовлення
                </button>
              </div>
            </div>
          </div>
          <!-- Payment END -->
          <!-- ========================================================================================== -->
        </div>
      </div>
    </div>
    <!--  -->
    <aside class="cart-content-sidebar">
      <!--  -->
      <div class="sidebar-title">
        <h2 class="title">Разом</h2>
      </div>
      <!--  -->
      <div class="sidebar-about">
        <div class="about-counter">
          <!--  -->
          <div class="counter-content">
            <p class="counter-content-number">
              {{ totalCounterProduct }}
              товар на суму
            </p>
          </div>
          <!--  -->
          <div class="price-content">
            <p
              class="price-content-text price"
              *ngIf="totalActionPrice < totalPrice"
            >
              {{ totalPrice | price }}
              <span class="currency">₴</span>
            </p>
            <p
              class="price-content-text"
              [ngClass]="{ price__action: totalActionPrice < totalPrice }"
            >
              {{ totalActionPrice | price }}
              <span class="currency">₴</span>
            </p>
          </div>
          <!--  -->
        </div>
      </div>
      <!--  -->
      <div class="sidebar-btn">
        <button mat-raised-button color="primary">
          Замовлення підтверджую
        </button>
      </div>
      <!--  -->
    </aside>
    <!--  -->
  </div>
</div>

<div class="empty__cart" *ngIf="emptyCart && !loader">
  <div class="empty__cart-content">
    <h2>Ваш кошик порожній, але це не пізно виправити</h2>
    <img src="../../../../assets/img/empty.png" alt="empty" />
  </div>
</div>
