<!--  -->

<div *ngIf="loader" class="content-element-center">
  <mat-spinner></mat-spinner>
</div>

<div
  class="cart"
  *ngIf="emptyCart === false && loader === false && counterOrder"
>
  <div class="cart-header">
    <h2 class="cart-header-title">Оформлення замовлення</h2>
  </div>

  <div class="cart-content" *ngFor="let item of counterOrder; let idx = index">
    <app-cart-order
      class="cart-content-order"
      [sequence_number_order]="idx"
    ></app-cart-order>
    <app-cart-aside
      class="cart-content-aside"
      [sequence_number_order]="idx"
    ></app-cart-aside>
  </div>
</div>

<app-cart-empty *ngIf="emptyCart === true && loader === false"></app-cart-empty>
