.cart {
  width: 100%;
  &-header {
    max-width: 1600px;
    margin-top: 50px;
    @media (max-width: 1600px) {
      padding: 0 calc(10px + (15 - 10) * ((100vw - 320px) / (1600 - 320)));
    }
    &-title {
      color: #535353;
      font-size: 24px;
      font-weight: 600;
      margin: 0;
    }
  }
  &-content {
    display: flex;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    @media (max-width: 1600px) {
      padding: 0 calc(10px + (15 - 10) * ((100vw - 320px) / (1600 - 320)));
    }
    @media (max-width: 1024px) {
      flex-direction: column-reverse;
      .cart-content-order {
        width: 100%;
        margin-right: 0%;
      }
      .cart-content-aside {
        width: 100%;
        margin-left: 0%;
        margin-bottom: 2.5%;
      }
    }

    &-order {
      width: 68%;
      margin-right: 0.5%;
    }
    &-aside {
      width: 31%;
      margin-left: 0.5%;
    }
  }
}
