.cart {
  width: 100%;
  &-header {
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 50px;
    @media (max-width: 1600px) {
      padding: 0 calc(10px + (15 - 10) * ((100vw - 320px) / (1600 - 320)));
    }
    &-title {
      color: #535353;
      font-size: 24px;
      font-weight: 600;
    }
  }
  &-content {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    @media (max-width: 1600px) {
      padding: 0 calc(10px + (15 - 10) * ((100vw - 320px) / (1600 - 320)));
    }
    @media (max-width: 1024px) {
      flex-direction: column;
      .cart-content-main {
        width: 100%;
        margin-right: 0px;
      }
      .cart-content-sidebar {
        width: 100%;
        margin-left: 0px;
      }
    }
    &-main {
      width: 64.75%;
      margin-right: 0.25%;

      .main {
        .checkout-content {
          .step {
            background-color: #535353;
            padding: calc(5px + (20 - 5) * ((100vw - 320px) / (1920 - 320)));
            border-radius: 4px;
            margin-top: 10px;
            margin-bottom: 10px;
            transition: 0.4s;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-text {
              &-title {
                color: #fff;
                margin: 0px;
              }
              .title__error {
                color: rgb(255, 25, 25);
              }
            }
            &-button {
            }
          }
          .cart-step {
          }
          .contacts-step {
          }
          .shipping-step {
          }
          .payment-step {
          }
          .checkout-item {
            width: 100%;
            &-content {
              &__title {
                .step__title {
                  margin: 0;
                }
              }
            }
          }
          .checkout-item-cart {
            &__list {
              .sub-list {
                border-bottom: 1px solid #535353;
                &:last-child {
                  border-bottom: none;
                }
              }
            }
            &__btn {
              text-align: center;
            }
          }
          .checkout-item-contacts {
            &__form {
              .form {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                &-item {
                  width: 40%;
                }
              }
            }
            &__btn {
              text-align: center;
            }
          }
          .checkout-item-shipping {
            &__btn {
              text-align: center;
            }
          }
          .checkout-item-payment {
          }
          .checkout__block {
            background-color: rgb(245, 245, 245);
            padding: calc(5px + (20 - 5) * ((100vw - 320px) / (1920 - 320)));
            border-radius: 5px;
            height: auto;
            min-height: 200px;
            // transition: 0.4s;
          }
          .checkout__hidden {
            height: 0px;
            min-height: 0px;
            // transition: 0.4s;
            padding: 0px;
            .checkout-item-content {
              // opacity: 0;
              display: none;
            }
          }
        }
      }
    }
    &-sidebar {
      margin-left: 0.25%;
      width: 34.75%;
      position: sticky;
      top: 25px;
      background-color: whitesmoke;
      border-radius: 4px;
      padding: calc(5px + (20 - 5) * ((100vw - 320px) / (1920 - 320)));
      height: 500px;
      .sidebar-title {
        .title {
          font-size: 32px;
          color: #535353;
        }
      }
      .sidebar-about {
        .about-counter {
          display: flex;
          align-items: center;
          justify-content: space-between;
          p {
            margin: 0;
          }
          .counter-content {
            &-number {
              font-size: 16px;
              font-weight: 500;
            }
          }
          .price-content {
            &-text {
              font-size: 16px;
              font-weight: 500;
            }
            .price {
              color: gray;
              text-decoration: line-through;
            }
            .price__action {
              color: red;
            }
          }
        }
      }
      .sidebar-btn {
        margin-top: 15px;
        text-align: center;
      }
    }
  }
}
