.settings {
  margin-top: 25px;
  &__content {
    max-width: 1600px;
    margin: 0 auto;
    &-header {
    }
    .header {
      &__title {
        color: #535353;
      }
    }
    &-form {
    }
    .form {
      &-item {
        &-section {
          display: flex;
          align-items: center;
          &-title {
            color: #535353;
            width: 200px;
            margin: 0;
          }
          &-error {
            margin-left: 25px;
            .error__input {
              color: red;
            }
          }
        }
      }
      &-password {
      }
    }
  }
}

@media (max-width: 1600px) {
  .settings {
    padding: 0 15px;
  }
}
@media (max-width: 450px) {
  .settings {
    &__content {
      .form {
        &-item {
          &-section {
            flex-direction: column;
            align-items: flex-start;
          }
        }
      }
    }
  }
}
