<!--  -->

<div class="my_order__content-header">
  <ul class="header-list">
    <li class="header-list-item header-list--order_id">Замовлення ID</li>
    <li class="header-list-item header-list--seller">Продавець</li>
    <li class="header-list-item header-list--date_of_creation">
      Дата замовлення
    </li>
    <li class="header-list-item header-list--date_of_dispatch">
      Дата відправки
    </li>
    <li class="header-list-item header-list--order_pricing">Загальна сума</li>
    <li class="header-list-item header-list--detail">Опис</li>
    <li class="header-list-item header-list--status">Статус</li>
    <li class="header-list-item header-list--type_payment">Тип оплати</li>
  </ul>
</div>
