// Reset Styles ========================================================================
@import "scss/normalize.scss";
// Reset Styles ========================================================================
// Mixin ===============================================================================
@import "scss/mixin.scss";
// Mixin ===============================================================================
// Variable ============================================================================
@import "scss/variable.scss";
// Variable ============================================================================
// Icon Font ===========================================================================
// @import "assets/icon";
// Icon Font ===========================================================================
// Style ===============================================================================

html {
  scroll-behavior: smooth;
}

body {
  // font-family: "Mont";
  background-color: #e5e5e5;
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #d8d8d8;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #faa627;
  }
  &:-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #d8d8d8;
  }
  &.active {
    overflow: hidden;
  }
}

// Popuap Site Error
.toast {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#toast-container {
  display: block;
  position: fixed;
  z-index: 10000;
}

@media only screen and (max-width: 600px) {
  #toast-container {
    min-width: 100%;
    bottom: 0%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  #toast-container {
    left: 5%;
    bottom: 7%;
    max-width: 90%;
  }
}

@media only screen and (min-width: 993px) {
  #toast-container {
    top: 10%;
    right: 7%;
    max-width: 86%;
  }
}

.toast {
  border-radius: 2px;
  top: 35px;
  width: auto;
  margin-top: 10px;
  position: relative;
  max-width: 100%;
  height: auto;
  min-height: 48px;
  line-height: 1.5em;
  background-color: #323232;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "Mont";
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
}

.toast .toast-action {
  color: #eeff41;
  font-weight: 500;
  margin-right: -25px;
  margin-left: 3rem;
}

.toast.rounded {
  border-radius: 24px;
}

@media only screen and (max-width: 600px) {
  .toast {
    width: 100%;
    border-radius: 0;
  }
}

// Popuap Site Error

/* Стилі для всіх input'в на сайті */
/*

Якщо потрібно врегулювати їхню довжину, то добавити ось це.

.box {
  &__input {
  }
  &__input-width {
    width: 400px;
  }
  &__line {
  }
  &__line-width {
    width: 400px;
  }
}
*/

.box {
  position: relative;
  // Input
  &__input {
    font-size: 20px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
  }
  // Label
  &__label {
    position: absolute;
    color: #000;
    font-size: 20px;
    left: 10px;
    top: 15px;
    transition: 0.2s;
    pointer-events: none;
  }
  /* Active State */
  &__input:focus ~ .box__label,
  &__input:valid ~ .box__label {
    top: -15px;
    font-size: 14px;
    color: #faa627;
  }
  // Animation Line
  &__line {
    position: relative;
    display: block;
  }
  &__line:before,
  &__line:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    background: #faa627;
    transition: 0.2s;
  }
  &__line:before {
    left: 50%;
  }
  &__line:after {
    right: 50%;
  }
  /* Active State */
  &__input:focus ~ .box__line:before,
  &__input:focus ~ .box__line:after {
    width: 50%;
  }
}
/* Стилі для всіх Input на сайті */

/* Loader */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #faa627;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Loader */

/* All Input type="checkbox" */
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom-checkbox:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}
.custom-checkbox:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
.custom-checkbox:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.custom-checkbox:focus:not(:checked) + label::before {
  border-color: #80bdff;
}
.custom-checkbox:disabled + label::before {
  background-color: #e9ecef;
}
/* All Input type="checkbox" */

// @import "materialize/css//materialize.css";
@import "scss/other__style.scss";
// Style ===============================================================================
// Font ================================================================================
@import "scss/font.scss";
// Font ================================================================================
// Adaptability ========================================================================
@import "scss/media.scss";
// Adaptability ========================================================================

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
