package-lock.json
node_modules
dist

# Server
.env
server/uploads/*.webp
server/uploads/*.png
server/uploads/*.jpg
server-nest/uploads/*.webp
server-nest/uploads/*.png
server-nest/uploads/*.jpg

# Client
client/.angular