.about {
  border-radius: 4px;
  border: 1px solid #b1b1b1;
  padding: 5px 15px;
  &__content {
    display: flex;
    align-items: center;
    min-height: 60px;
    &-price {
      display: flex;
      height: 100%;
      .price {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &__title {
          margin: 0;
          &-text {
            font-size: calc(
              16px + (30 - 16) * ((100vw - 320px) / (1920 - 320))
            );
          }
          &-currency {
            font-size: calc(
              12px + (24 - 12) * ((100vw - 320px) / (1920 - 320))
            );
          }
        }
        &__title__action {
          color: red;
        }
        &__action {
          position: absolute;
          top: -35px;

          margin: 0;
          padding: 0 5px;

          color: gray;
          background-color: #fff;

          text-decoration: line-through;
          text-decoration-color: red;
          font-size: calc(10px + (22 - 10) * ((100vw - 320px) / (1920 - 320)));
        }
      }
    }
    &-btn {
      margin: 0 15px;
    }
    &-favorite {
      display: flex;
      justify-content: flex-end;
    }
  }
}

@media (max-width: 1200px) {
  .about {
    &__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      min-height: auto;
      &-price {
        grid-area: 1 / 1 / 2 / 2;
        .price {
          &__action {
            top: -15px;
          }
        }
      }
      &-btn {
        margin: 0;
        grid-area: 2 / 1 / 3 / 3;
      }
      &-favorite {
        grid-area: 1 / 2 / 2 / 3;
      }
    }
  }
}
@media (max-width: 1000px) {
  .about {
    border: none;
    padding: 0px;
    &__content {
      display: flex;
      justify-content: end;
      &-price {
        .price {
          &__action {
            display: none;
          }
        }
      }
      &-btn {
        margin-left: 10px;
      }
      &-favorite {
        display: none;
      }
    }
  }
}
@media (max-width: 600px) {
  .about {
    width: 100%;
    &__content {
      justify-content: space-between;
    }
  }
}
