.search {
  width: 100%;
  padding: 0 calc(5px + (15 - 5) * ((100vw - 320px) / (1920 - 320)));
  &__content {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    &-header {
      height: auto;
      display: flex;
      flex-direction: column;
      .widget_breadcrumbs {
        .search__text {
          margin: 0;
          font-size: 24px;
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
      .reset {
        display: flex;
        align-items: center;

        height: auto;
        max-height: 50%;

        overflow-x: auto;
        overflow-y: hidden;
        &::-webkit-scrollbar {
          width: 0px;
          height: 4px;
          background-color: #d8d8d8;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background-color: #faa627;
        }
        &:-webkit-scrollbar-track {
          border-radius: 10px;
          background-color: #d8d8d8;
        }
        &-number_of_product {
          margin-right: 5px;
          .number_of_product-text {
            margin: 0;
          }
        }
        &-all {
          margin-right: 5px;
        }
        &-item {
          display: flex;
          &-li {
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 5px;
          }
        }
      }
      .settings {
        height: auto;
        display: flex;
        justify-content: end;
        margin-top: 10px;
        margin-bottom: 10px;
        &-left {
          display: flex;
        }
        &-right {
          display: flex;
        }

        &__filter-mobile {
          display: none;
        }
        &__sort {
          &-select {
            height: 48px;
          }
        }
        &__tile {
          margin-top: 0.25em;
          margin-left: 15px;
          .tile_large {
            font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
          }
          .tile_small {
            font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 48;
          }
        }
      }
    }
    &-main {
      display: flex;
      width: 100%;
      &-sidebar {
        width: 30%;
        .select {
          &__content {
          }
          .category {
            background-color: #fff;
            &__header {
              display: flex;
              align-items: center;
              &-title {
                margin: 0;
              }
            }
            &__block {
              &-line {
                width: 100%;
                height: 1px;
                background-color: #e9e9e9;
              }
              &-btn {
                margin-top: 10px;
                margin-bottom: 10px;
                cursor: pointer;
                .btn__filter {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  border: none;
                  background-color: #fff;
                  cursor: pointer;
                  margin: 0;
                  width: 100%;
                  transition: 0.4s;
                  &:hover {
                    transition: 0.4s;
                    color: #3281ca;
                  }
                  .title {
                    font-size: 18px;
                    margin: 0;
                  }
                  .arrow {
                    margin: 0;
                    transition: 0.4s;
                    &.active__arrow {
                      transition: 0.4s;
                      transform: rotate(180deg);
                    }
                  }
                }
              }
              &-list {
                display: none;
                margin-bottom: 10px;
                &-item {
                  margin-bottom: 5px;
                  opacity: 1;
                  transition: 0.4s;
                }
              }
              &-list.show {
                display: block;
              }
            }
          }
        }
        .select--space {
          display: none;
        }
      }
      &-body {
        width: 70%;
        .cards {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          &-catalog {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            &-item {
              height: 450px;
            }
            &-item.large {
              width: 33.3%;
              @media (max-width: 1250px) {
                width: 50%;
              }
            }
            &-item.small {
              width: 25%;
              @media (max-width: 1250px) {
                width: 33.3%;
              }
              @media (max-width: 600px) {
                width: 50%;
              }
            }
          }
        }
        .pagination {
          margin-top: 20px;
        }
      }
    }
  }
}

.progress-bar {
  position: absolute;
  top: 0px;
  left: 0px;

  z-index: 1001;
  width: 100%;
  height: 100%;
}

// Media START ==========================================================================================
@media (max-width: 1000px) {
  .search {
    &__content {
      &-header {
        .settings {
          justify-content: space-between;
          &__filter-mobile {
            display: block;
            margin-right: 15px;
            height: 100%;
            display: flex;
            align-items: center;
            button {
              display: flex;
              align-items: center;
            }
          }
        }
      }
      &-main {
        &-sidebar {
          position: absolute;
          top: 0px;
          left: -1000px;
          z-index: 1002;

          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.75);

          transition: 0.4s;
          .select {
            width: calc(320px + (350 - 320) * ((100vw - 320px) / (768 - 320)));
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            background-color: #fff;
            &::-webkit-scrollbar {
              width: 5px;
              height: 0px;
              background-color: #d8d8d8;
            }
            &::-webkit-scrollbar-thumb {
              border-radius: 10px;
              background-color: #faa627;
            }
            &:-webkit-scrollbar-track {
              border-radius: 10px;
              background-color: #d8d8d8;
            }
            &__content {
            }
            .category {
              padding: 7.5px;
            }
          }
          .select--space {
            display: block;
            width: calc(
              100% - calc(320px + (350 - 320) * ((100vw - 320px) / (768 - 320)))
            );
            height: 100%;

            position: absolute;
            top: 0px;
            right: 0px;
          }
        }
        .sidebar--mobile {
          left: 0px;

          transition: 0.4s;
        }
        &-body {
          width: 100%;
        }
      }
    }
  }
}
// Media END ============================================================================================
