<!--  -->

<ng-container *ngIf="loader">
  <div class="content-element-center">
    <mat-spinner></mat-spinner>
  </div>
</ng-container>

<ng-container *ngIf="!loader">
  <!-- Page is "NOT" empty -->
  <ng-container *ngIf="!searchEmpty">
    <div class="search">
      <div class="search__content">
        <div class="search__content-header">
          <ng-container>
            <div
              class="widget_breadcrumbs"
              *ngIf="widget_breadcrumbs !== undefined"
            >
              <app-widget-breadcrumbs
                [widget_breadcrumbs]="widget_breadcrumbs"
                [type]="'search'"
              ></app-widget-breadcrumbs>
            </div>

            <div
              class="widget_breadcrumbs"
              *ngIf="widget_breadcrumbs === undefined"
            >
              <h2 class="search__text">&laquo;{{ search_text }}&raquo;</h2>
            </div>
          </ng-container>

          <div
            class="widget_auto_portal"
            *ngIf="widget_auto_portal !== undefined"
          >
            <app-widget-auto-portal
              [widget_auto_portal]="widget_auto_portal"
            ></app-widget-auto-portal>
          </div>

          <div class="reset">
            <ng-container *ngFor="let filter of listFilter">
              <ng-container *ngFor="let filterItem of filter.checkboxList">
                <ng-container *ngIf="filterItem.active">
                  <li class="reset-item">
                    <button
                      mat-stroked-button
                      (click)="
                        filterSearch(filterItem.name, filter.query_name, false)
                      "
                    >
                      {{ filterItem.name }}&nbsp;&Cross;
                    </button>
                  </li>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>

          <div class="settings" [ngClass]="{ mobile: widthWindow <= 1000 }">
            <div class="settings__filter-mobile" *ngIf="widthWindow <= 1000">
              <button
                class="filter__button"
                mat-raised-button
                color="primary"
                (click)="onFilterSidebar()"
              >
                <span class="material-symbols-outlined"> filter_alt </span>
                <span class="filter__button-text">Фільтри</span>
              </button>
            </div>
            <div class="settings__sort">
              <mat-form-field appearance="fill" class="settings__sort-select">
                <mat-label>Відсортувати товари:</mat-label>
                <mat-select
                  disableRipple
                  class="characteristics-select"
                  #selectSort
                  [(ngModel)]="type_sort"
                  (ngModelChange)="productSort()"
                >
                  <mat-option [value]="0">Від дешевих до дорогих</mat-option>
                  <mat-option [value]="1">Від дорогих до дешевих</mat-option>
                  <mat-option [value]="2" [disabled]="true"
                    >Популярні</mat-option
                  >
                  <mat-option [value]="3" [disabled]="true">Новинки</mat-option>
                  <mat-option [value]="4">Акційні</mat-option>
                  <mat-option [value]="5">За рейтингом</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="search__content-main">
          <div
            class="search__content-main-sidebar"
            [ngClass]="{ 'sidebar--mobile': showFilter }"
          >
            <!-- Filter START -->
            <div class="select">
              <div class="select__content">
                <div class="select__conten-category category">
                  <div
                    class="category__header"
                    *ngIf="widthWindow <= 1000"
                    (click)="offFilterSidebar()"
                  >
                    <span class="material-symbols-outlined">
                      arrow_back_ios
                    </span>
                    <h2 class="category__header-title">Фільтри</h2>
                  </div>
                  <div class="category__block" *ngIf="widget_section_id">
                    <app-widget-section-id
                      [widget_section_id]="widget_section_id"
                      [number_of_product]="number_of_product"
                    ></app-widget-section-id>
                  </div>
                  <div
                    class="category__block"
                    *ngFor="let filter of listFilter; let i = index"
                  >
                    <div class="category__block-line"></div>

                    <div
                      class="category__block-btn"
                      (click)="filter.show = !filter.show"
                    >
                      <button class="btn__filter">
                        <p class="title">{{ filter.title }}</p>
                        <p
                          class="arrow"
                          [ngClass]="{ active__arrow: filter.show }"
                        >
                          <span class="material-symbols-outlined">
                            expand_more
                          </span>
                        </p>
                      </button>
                    </div>

                    <ul
                      class="category__block-list"
                      [ngClass]="{ show: filter.show }"
                    >
                      <li
                        class="category__block-list-item"
                        *ngFor="
                          let filterItem of filter.checkboxList;
                          let idx = index
                        "
                      >
                        <mat-checkbox
                          (click)="
                            filterSearch(
                              filterItem.name,
                              filter.query_name,
                              !checkboxInput.checked
                            )
                          "
                          [(ngModel)]="filterItem.active"
                          [id]="i + '' + '0' + idx"
                          color="primary"
                          #checkboxInput
                        >
                          <!-- ID-{{ i + "" + "0" + idx }}&nbsp;&nbsp;&nbsp; -->
                          {{ filterItem.name }}
                          <span class="counter"
                            >&nbsp;({{ filterItem.counter + 1 }})</span
                          ></mat-checkbox
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- Filter END -->
            <div class="select--space" (click)="offFilterSidebar()"></div>
          </div>

          <div class="search__content-main-body">
            <ng-container *ngIf="productList.length > 0">
              <!-- Card START -->
              <div class="cards">
                <ul class="cards-catalog">
                  <li
                    class="cards-catalog-item"
                    *ngFor="let product of productList"
                  >
                    <app-product-card
                      [productItem]="product"
                    ></app-product-card>
                  </li>
                </ul>
              </div>
              <!-- Card END -->
              <!-- Pagination START -->
              <div class="pagination">
                <mat-paginator
                  [length]="maxPage * limit"
                  [pageSize]="limit"
                  [pageIndex]="currentPage - 1"
                  [pageSizeOptions]="pageSizeOptions"
                  (page)="pageEvent = $event; onPaginateChange($event)"
                >
                </mat-paginator>
              </div>
              <!-- Pagination END -->
            </ng-container>

            <ng-container *ngIf="productList.length === 0"
              ><app-search-empty></app-search-empty
            ></ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Page is empty -->
  <ng-container *ngIf="searchEmpty">
    <app-search-empty></app-search-empty>
  </ng-container>

  <!-- if >>> load new product by query -->
  <ng-container *ngIf="loaderNewData">
    <div class="progress-bar">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </ng-container>
</ng-container>
