<!--  -->
<div class="search">
  <div class="search__content">
    <div class="search__content-sidebar">
      <div class="reset"></div>
      <!--  -->
      <div class="select">
        <div class="select__content">
          <!-- Loader START -->
          <div style="text-align: center; width: 100%" *ngIf="loaderSelect">
            <div class="lds-roller">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <!-- Loader END -->
          <!-- Category STR -->
          <div class="select__conten-category">
            <ng-container *ngFor="let filter of listFilter; let idx = index">
              <ng-container *ngFor="let item of filter; let i = index">
                <input
                  type="checkbox"
                  [id]="i"
                  class="custom-checkbox category__input"
                  #checkbox
                />
                <label [for]="idx" class="category__title"
                  >{{ idx }}&nbsp;&nbsp;&nbsp;{{ item.name }}</label
                >
              </ng-container>
            </ng-container>
          </div>
          <!-- Category END -->
        </div>
      </div>
    </div>
    <div class="search__content-body">
      <div class="settings"></div>
      <!--  -->
      <div class="cart">
        <!-- Loader STR -->
        <div style="text-align: center; width: 100%" *ngIf="loaderProduct">
          <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <!-- Loader END -->
        <!-- Cart STR -->
        <div class="cart__box cart__item" *ngFor="let product of listProduct">
          <div class="cart__box-body">
            <div class="body__preview">
              <img
                class="preview__img"
                [src]="url_server_img + product.imageSrc"
                alt=""
              />
            </div>
            <!-- <div class="body__discount" *ngIf="product.action">
              <p class="disount__text">Акція</p>
            </div> -->
            <div class="body__action">
              <div class="like">
                <img src="../../../assets/img/like.png" alt="" />
              </div>
              <div class="scales">
                <img src="../../../assets/img/scales.png" alt="" />
              </div>
            </div>
          </div>
          <div class="cart__box-wrapper">
            <div class="wrapper__title">
              <h2 class="title__cart" [title]="product.name">
                {{ product.name.substr(0, 20) }}
                <span *ngIf="product.name.length > 20">...</span>
              </h2>
            </div>
            <div class="wrapper__price">
              <p class="price__cart">{{ product.price | price }}</p>
              <p class="currency__cart">грн.</p>
            </div>
            <div class="wrapper__description">
              <h2 class="description__cart">
                {{ product.description.substr(0, 100) }}
                <span *ngIf="product.description.length > 100">...</span>
              </h2>
            </div>
            <div class="wrapper__button">
              <button class="btn__cart" routerLink="">Придбати</button>
            </div>
          </div>
        </div>
        <!-- Cart END -->
      </div>
      <!--  -->
      <div class="pagination"></div>
    </div>
  </div>
</div>
