.search {
  width: 100%;
  padding: 0 calc(10px + (20 - 10) * ((100vw - 768px) / (1920 - 768)));
  &__content {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    height: auto;
    display: grid;
    // grid-template-columns: 24% 74%;
    grid-template-columns: 25% 75%;
    grid-template-rows: 10% 90%;
    // grid-column-gap: 2%;
    grid-column-gap: 0;
    grid-row-gap: 0px;
    &-header {
      grid-area: 1 / 1 / 2 / 3;
      height: 100px;
      display: flex;
      .reset {
        width: 74%;
        margin-right: 1%;
      }
      .settings {
        width: 24%;
        margin-left: 1%;
        display: flex;
        align-items: center;
        justify-content: end;
      }
    }
    &-sidebar {
      grid-area: 2 / 1 / 3 / 2;
      .select {
        &__content {
        }
        .category {
          &__block {
            &-line {
              width: 100%;
              height: 1px;
              background-color: #e9e9e9;
            }
            &-btn {
              margin-top: 10px;
              margin-bottom: 10px;
              cursor: pointer;
              .btn__filter {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: none;
                background-color: #fff;
                cursor: pointer;
                margin: 0;
                width: 100%;
                transition: 0.4s;
                &:hover {
                  transition: 0.4s;
                  color: #3281ca;
                }
                .title {
                  font-size: 18px;
                  margin: 0;
                }
                .arrow {
                  margin: 0;
                  transition: 0.4s;
                  &.active__arrow {
                    transition: 0.4s;
                    transform: rotate(180deg);
                  }
                }
              }
            }
            &-list {
              display: none;
              margin-bottom: 10px;
              &-item {
                margin-bottom: 5px;
                opacity: 1;
                transition: 0.4s;
              }
            }
            .show {
              display: block;
            }
          }
        }
      }
    }
    &-body {
      grid-area: 2 / 2 / 3 / 3;
      .cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        // width: 100%;
        &-catalog {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
          &-item {
            width: 25%;
            height: 450px;
            @media (max-width: 1250px) {
              width: 33.3%;
            }
            @media (max-width: 767px) {
              width: 25%;
            }
          }
        }
      }
      .pagination {
        margin: 20px 0;
      }
    }
  }
}
