<!--  -->
<ng-container *ngIf="InputData_Description">
  <div class="form-item-title">
    <p class="title">Опис товару*</p>
  </div>

  <mat-form-field class="form-description-field" [appearance]="appearance">
    <mat-label>Опис товару</mat-label>
    <textarea
      matInput
      type="text"
      class="input-description"
      required
      #inputDescription
      [(ngModel)]="InputData_Description.description"
    ></textarea>
  </mat-form-field>

  <div class="form-description-length">
    <p
      [ngClass]="{
        ok:
          InputData_Description.description.length >=
            InputData_Description.minLengthDescription &&
          InputData_Description.description.length <=
            InputData_Description.maxLengthDescription,
        error:
          InputData_Description.description.length >
          InputData_Description.maxLengthDescription
      }"
    >
      <span>Символів&nbsp;</span>
      <span>{{ InputData_Description.description.length }}</span>
      <span>/</span>
      <span>{{ InputData_Description.maxLengthDescription }}</span>
    </p>
  </div>
</ng-container>
