.status {
  display: inline-block;
  margin-top: 10px;
  .status__item {
    p {
      font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
      margin: 0px;
    }
  }
  .in_stock {
    p {
      color: #349948;
    }
  }
  .time {
    p {
      color: #3281ca;
    }
  }
  .end {
    p {
      color: #504141;
    }
  }
  .ends {
    p {
      color: #b4391a;
    }
  }
}
