<!--  -->

<div
  class="shopping__cart"
  *ngIf="
    productItem && counter_order !== undefined && sequence_number !== undefined
  "
>
  <div class="display-none">{{ productItem._id }}</div>

  <div class="shopping__cart-content">
    <div
      class="content-image content-item"
      [routerLink]="'/card/' + productItem._id + '/info'"
    >
      <img
        class="content-image-img"
        [src]="url_server_folder + productItem.imageSrc"
        alt=""
      />
    </div>

    <div class="content-about content-item">
      <div class="about-title">
        <h2 class="shopping__cart-title">{{ productItem.name }}</h2>
      </div>
      <!--  -->
      <div class="about-counter">
        <button
          mat-button
          color="accent"
          [disabled]="counter_order <= 1"
          (click)="downdateCounter()"
        >
          <mat-icon>exposure_neg_1</mat-icon>
        </button>
        <button
          mat-raised-button
          [color]="counter_order > productItem.counter ? 'warn' : ''"
          [matTooltip]="'Товарів залишилося ' + productItem.counter"
        >
          {{ counter_order }}
        </button>
        <button mat-button color="primary" (click)="updateCounter()">
          <mat-icon>exposure_plus_1</mat-icon>
        </button>
      </div>
    </div>

    <div class="content-price content-item">
      <p class="price__action" *ngIf="productItem.action">
        {{ productItem.price * counter_order | price }}
        <span class="currency">₴</span>
      </p>
      <p
        class="price"
        [ngStyle]="{ color: productItem.action ? 'red' : 'black' }"
      >
        {{
          productItem.action
            ? (productItem.actionPrice * counter_order | price)
            : (productItem.price * counter_order | price)
        }}
        <span class="currency">₴</span>
      </p>
    </div>

    <div class="content-delete content-item">
      <button class="content-delete-btn" (click)="removeProductCart()">
        <span class="material-symbols-outlined" translate="no"> delete </span>
      </button>
    </div>
  </div>
</div>
