.shopping__card {
  height: 100%;
  &-content {
    display: flex;
    width: 100%;
    height: 120px;
    .content-item {
      padding: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320)));
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .content-image {
      width: 15%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .content-about {
      width: 65%;
      display: flex;
      .about-title {
        width: 65%;
        .shopping__card-title {
          font-size: 14px;
          color: #313131;
          height: 36px;
          overflow: hidden;
          margin: 0;
          line-height: 20px;
        }
      }
      .about-counter {
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
        .add__remove {
          border-radius: 50%;
          background-color: #fff;
          border: 1px solid #b1b1b1;
          padding: 2.5px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 5px;
          cursor: pointer;
          .material-symbols-outlined {
            font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 20;
          }
        }
        .counter-minus {
        }
        .counter-number {
          &-input {
            width: 40px;
            height: 40px;
            border-radius: 4px;
            font-size: 20px;
            padding: 8px;
            border: 1px solid #b1b1b1;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
          &-text {
            width: 40px;
            height: 40px;
            border-radius: 4px;
            font-size: 20px;
            padding: 8px;
            border: 1px solid #b1b1b1;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .counter__error {
          border: 1px solid red;
          color: red;
        }
        .counter-plus {
        }
      }
    }
    .content-price {
      padding: 5px;
      width: 17.5%;
      display: flex;
      flex-direction: column;
      p {
        margin: 0;
      }
      .price__action {
        text-decoration: line-through;
        font-size: calc(10px + (14 - 10) * ((100vw - 320px) / (1920 - 320)));
      }
      .price {
        font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
        .currency {
          font-size: calc(10px + (18 - 10) * ((100vw - 320px) / (1920 - 320)));
        }
      }
    }
    .content-delete {
      width: 7.5%;
      padding: 5px;
      &-btn {
        padding: 0;
        margin: 0;
        background-color: inherit;
        border: none;
        span {
          width: 100%;
          height: 100%;
          cursor: pointer;
          font-variation-settings: "FILL" 0;
          transition: 0.4s;
        }
        &:hover {
          span {
            transition: 0.4s;
            color: red;
            font-variation-settings: "FILL" 1;
          }
        }
      }
    }
  }
}
