<!--  -->
<ng-container *ngIf="InputData_Characteristics">
  <div class="form-item-title">
    <p class="title">Характеристики товару*</p>
  </div>

  <div class="form-characteristics">
    <ng-container *ngFor="let options of characteristics; let idx = index">
      <div class="item">
        <mat-form-field
          class="item-select"
          [appearance]="appearance"
          [matTooltip]="'№' + idx + '&nbsp;' + options.name"
          [matTooltipPosition]="'above'"
        >
          <mat-label>{{ options.name }}</mat-label>
          <ng-container *ngIf="options.multiple">
            <mat-select
              disableRipple
              class="characteristics-select"
              #selectedValue
              [(ngModel)]="characteristicsNumber[idx]"
              (ngModelChange)="checkingValidityCharacteristics()"
              multiple
              required
            >
              <ng-container
                *ngFor="let option of options.select; let i = index"
              >
                <mat-option [value]="i">
                  <!-- {{ "№" + i }} -->
                  {{ option }}
                </mat-option>
              </ng-container>
            </mat-select>
          </ng-container>
          <ng-container *ngIf="options.multiple === false">
            <mat-select
              disableRipple
              class="characteristics-select"
              #selectedValue
              [(ngModel)]="characteristicsNumber[idx][0]"
              (ngModelChange)="checkingValidityCharacteristics()"
              required
            >
              <ng-container
                *ngFor="let option of options.select; let i = index"
              >
                <mat-option [value]="i">
                  <!-- {{ "№" + i }} -->
                  {{ option }}
                </mat-option>
              </ng-container>
            </mat-select>
          </ng-container>
        </mat-form-field>
      </div>
    </ng-container>
  </div>
</ng-container>
