<!--  -->
<ng-container *ngIf="InputData_Photo">
  <ng-container>
    <div class="placeholder">
      <div
        class="placeholder-content example-list"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
        cdkDropListOrientation="horizontal"
      >
        <div
          class="example-box"
          *ngFor="let image of imagePreview; let idx = index"
          cdkDrag
        >
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          <ng-container *ngIf="update === true">
            <img
              [src]="url_server_folder + image"
              *ngIf="image !== undefined && images[idx] === 'link'"
            />
            <img
              [src]="image"
              *ngIf="image !== undefined && images[idx] !== 'link'"
            />
            <img
              src="../../../../assets//img/300x300.png"
              *ngIf="image === undefined && images[idx] === undefined"
            />
          </ng-container>
          <ng-container *ngIf="update === false">
            <img [src]="image" *ngIf="image !== undefined" />
            <img
              src="../../../../assets//img/300x300.png"
              *ngIf="image === undefined"
            />
          </ng-container>

          <a
            class="btn-number"
            mat-mini-fab
            matTooltip="Позиція"
            color="primary"
          >
            {{ "№" + (idx + 1) }}
          </a>
          <a
            class="btn-close"
            mat-mini-fab
            matTooltip="Видалити"
            color="warn"
            (click)="deletePhotoByIdx(idx)"
            *ngIf="image"
          >
            <span class="material-symbols-outlined"> delete </span>
          </a>
        </div>
      </div>
    </div>
  </ng-container>
  <!--  -->
  <ng-container>
    <div class="form-item-title">
      <p class="title">Фото вашого товару*</p>
    </div>

    <div class="form-item-btn">
      <a
        class="btn-photo btn-download"
        mat-raised-button
        [disabled]="images.indexOf(undefined) === -1"
        color="primary"
        (click)="triggerClick()"
      >
        <span>Завантажити фото</span>
        <span class="material-symbols-outlined"> file_download </span>
      </a>

      <a
        class="btn-photo btn-delete"
        mat-raised-button
        color="warn"
        (click)="deletePhoto()"
      >
        <span>Видалити фото</span>
        <span class="material-symbols-outlined"> delete </span>
      </a>

      <a class="btn-photo btn-info" mat-raised-button color="primary">
        Кількість фото
        {{ numberPhoto + "/" + InputData_Photo.maxCounterFile }}
      </a>
    </div>

    <input
      class="display-none"
      type="file"
      [accept]="acceptImage.join(', ')"
      multiple
      [max]="InputData_Photo.maxCounterFile"
      (change)="onFileUpload($event); inputFile.value = ''"
      #inputFile
    />
  </ng-container>
</ng-container>
