<!--  -->

<div class="content-element-center" *ngIf="loader">
  <mat-spinner></mat-spinner>
</div>

<div class="catalog" *ngIf="!loader">
  <div
    class="catalog__content category"
    [ngClass]="{ category__mobile: activeBlockMobile }"
  >
    <div class="category-first">
      <div class="category-first-return">
        <p class="return-to-home" (click)="closeDialog()">
          <span>Повернутися назад</span>
          <span class="material-symbols-outlined"> keyboard_return </span>
        </p>
      </div>
      <ul class="category-first-list">
        <li
          class="category-first-list-item list__item"
          *ngFor="let categoryOne of category; let idx = index"
          [ngClass]="{ link__active: idx === activeCategory }"
          (mouseenter)="
            windowWidth > 1024 ? mouseEnterEditActiveCategory(idx) : ''
          "
          (click)="windowWidth <= 1024 ? clickEditActiveCategory(idx) : ''"
        >
          <a
            href=""
            class="list__item-link"
            *ngIf="windowWidth > 1024; else mobileCatalogTitle"
          >
            <span class="list__item-link-text">
              {{ categoryOne.nameCategory }}
            </span>
            <span class="material-symbols-outlined"> expand_more </span>
          </a>
          <ng-template #mobileCatalogTitle>
            <p class="list__item-link">
              <span class="list__item-link-text">
                {{ categoryOne.nameCategory }}
              </span>
              <span class="material-symbols-outlined"> expand_more </span>
            </p>
          </ng-template>
        </li>
      </ul>
    </div>

    <div class="category-subfirst">
      <div class="category-subfirst-return">
        <p class="return-to-selection" (click)="returnToCategorySelection()">
          <span>Повернутися на вибір</span>
          <span class="material-symbols-outlined"> keyboard_return </span>
        </p>
      </div>
      <ul
        class="category-subfirst-list"
        *ngIf="activeBlockMobile || windowWidth > 1024"
      >
        <li
          class="category-subfirst-list-item"
          *ngFor="let categoryTwo of category[activeCategory].nameListCategory"
        >
          <a
            class="list__item-link"
            [routerLink]="['/search', categoryTwo.navigate_link]"
            [ngClass]="{ disabled: categoryTwo.permissionUse === false }"
          >
            <span class="list__item-link-text">
              {{ categoryTwo.subNameCategory }}
            </span>
          </a>
          <ul
            class="group-subfirst-list"
            *ngIf="categoryTwo.subNameListCategory"
          >
            <li
              class="group-subfirst-list-item"
              *ngFor="let categoryThree of categoryTwo.subNameListCategory"
            >
              <a
                class="sublist__item-link"
                [routerLink]="['/search', categoryThree.navigate_link]"
                [queryParams]="
                  categoryThree.queryParams
                    ? categoryThree.queryParams
                    : undefined
                "
                [ngClass]="{ disabled: categoryTwo.permissionUse === false }"
              >
                <span class="sublist__item-link-text">
                  {{ categoryThree.titleSubNameListCategory }}
                </span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
