.catalog {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  &__content {
    width: 100%;
    max-width: 1600px;
    height: 600px;
    padding: 20px;
    border-radius: 4px;
    background-color: #ffff;
  }
  .category {
    display: flex;

    &-first {
      width: 33%;
      margin-right: 0.5%;
      .category-first-return {
        display: none;
      }
      &-list {
        &-item {
          margin-top: 5px;
          border-radius: 4px;
          transition: 0.4s;
          .list__item-link {
            display: flex;
            justify-content: space-between;
            padding: 5px;
            color: #000;
            font-size: 16px;
            cursor: pointer;
            margin: 0;
            .material-symbols-outlined {
              transition: 0.4s;
            }
          }
        }
        .link__active {
          transition: 0.4s;
          background-color: rgb(255, 192, 109);
          .list__item-link {
            .material-symbols-outlined {
              transition: 0.4s;
              transform: rotate(-90deg);
            }
          }
        }
      }
    }

    &-subfirst {
      margin-left: 0.5%;
      width: 66%;
      .category-subfirst-return {
        display: none;
      }
      &-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 600px;
        max-width: 33%;
        &-item {
          margin: 0 10px 15px 10px;
          .list__item-link {
            display: block;
            &:hover {
              text-decoration: underline;
            }
            &-text {
              font-size: 16px;
              color: #3f51b5;
            }
          }
          .group-subfirst-list {
            &-item {
              .sublist__item-link {
                display: block;
                &:hover {
                  text-decoration: underline;
                  .sublist__item-link-text {
                    color: #3f51b5;
                  }
                }
                &-text {
                  display: block;
                  color: #000;
                  white-space: nowrap;
                  text-overflow: clip;
                  overflow: hidden;
                  width: 100%;
                  max-width: 220px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .catalog {
    &__content {
    }
    .category {
      &-first {
        width: 28%;
        margin: 0;
      }
      &-subfirst {
        width: 72%;
        margin: 0;
      }
    }
  }
}
@media (max-width: 1024px) {
  .catalog {
    .category {
      position: relative;

      padding: 0;
      &-first {
        position: absolute;
        top: 0px;
        left: 0px;

        width: 98%;
        margin: 0 1%;

        transition: 0.4s;
      }

      &-subfirst {
        position: absolute;
        top: 0px;
        left: -1100px;

        width: 98%;
        margin: 0 1%;

        transition: 0.4s;
        .category-subfirst-return {
          display: block;

          .return-to-selection {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 10px;
          }
        }
        &-list {
          max-width: 100%;
        }
      }
    }
    .category.category__mobile {
      transition: 0.4s;
      .category-first {
        left: -1100px;
      }
      .category-subfirst {
        left: 0px;
      }
    }
  }
}
@media (max-width: 767px) {
  .catalog {
    &__content {
      max-width: 100%;
      height: 100%;
      border-radius: 0px;
    }
    .category {
      &-first {
        .category-first-return {
          display: block;
          .return-to-home {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 740px) {
  .catalog {
    &__content {
    }
    .category {
      &-first {
      }
      &-subfirst {
        height: 100%;
        max-height: 800px;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-bottom: 15px;
        &-list {
          max-height: 800px;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .catalog {
    &__content {
    }
    .category {
      &-first {
      }
      &-subfirst {
        height: 100%;
        max-height: 500px;
        margin-bottom: 15px;
        .category-subfirst-return {
          width: 100%;
          max-width: 300px;
          margin: 0 auto;
        }
        &-list {
          flex-wrap: nowrap;
          max-height: 500px;
          width: 100%;
          max-width: 300px;
          margin: 0 auto;
        }
      }
    }
  }
}
