<!--  -->
<div *ngIf="loader" class="content-element-center">
  <mat-spinner></mat-spinner>
</div>

<div class="card__info">
  <!--  -->
  <div class="card__info-content" *ngIf="!loader">
    <div class="card__info-content-img">
      <swiper [config]="config">
        <ng-template swiperSlide *ngFor="let image of productInfo?.imageSrc">
          <div class="image__container">
            <img [src]="url_server_folder + image" alt="" class="" />
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>
</div>
