.card__info-content-info {
  width: 100%;
  .info {
    &__box {
      margin-top: 15px;
    }
    &__container-unique__params {
    }
    &__container-status {
    }
    &__container-about {
      // max-width: 700px;
    }
    &__container-recommendation {
      display: none;
      .recommendation {
        border: 1px solid red;
        padding: 10px;
        border-radius: 4px;
        height: 100px;
      }
    }
    &__container-seller {
    }
    &__container-payment {
      .payment {
        border: 1px solid #b1b1b1;
        padding: 10px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        &__logo {
          margin-right: 10px;
          border-radius: 50%;
          padding: 5px;
        }
        &__info {
          &-title {
            font-weight: 500;
          }
        }
      }
    }
    &__container-guarantee {
      .guarantee {
        border: 1px solid #b1b1b1;
        padding: 10px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        &__logo {
          margin-right: 10px;
          border-radius: 50%;
          padding: 5px;
        }
        &__info {
          &-title {
            font-weight: 500;
          }
        }
      }
    }
  }
}
