<div class="card__info-content-info">
  <div class="info">
    <!-- =============================================== -->
    <div class="info__box info__container-unique__params"></div>
    <!-- =============================================== -->
    <div class="info__box info__container-status">
      <app-card-sidebar-statuses
        [status]="productSidebar?.status"
      ></app-card-sidebar-statuses>
    </div>
    <!-- =============================================== -->
    <div class="info__box info__container-about">
      <app-card-sidebar-about
        [price]="productSidebar?.price"
        [action]="productSidebar?.action"
        [actionPrice]="productSidebar?.actionPrice"
        [_id]="productSidebar?._id"
      ></app-card-sidebar-about>
    </div>
    <!-- =============================================== -->
    <div class="info__box info__container-recommendation">
      <div class="recommendation"></div>
    </div>
    <!-- =============================================== -->
    <div class="info__box info__container-seller">
      <app-card-sidebar-seller
        [idSeller]="productSidebar?.user"
      ></app-card-sidebar-seller>
    </div>
    <!-- =============================================== -->
    <div class="info__box info__container-payment">
      <div class="payment">
        <div class="payment__logo">
          <span class="material-symbols-outlined">
            account_balance_wallet
          </span>
        </div>
        <div class="payment__info">
          <span class="payment__info-title">Оплата.</span>
          Оплата при отриманні товару, Картою онлайн, Google Pay, Безготівковими
          для юридичних осіб, Сплатити онлайн соціальною карткою "Пакунок
          малюка", Безготівковими для фізичних осіб, Apple Pay, Оплатити онлайн
          карткою "єПідтримка", PrivatPay
        </div>
      </div>
    </div>
    <!-- =============================================== -->
    <div class="info__box info__container-guarantee">
      <div class="guarantee">
        <div class="guarantee__logo">
          <span class="material-symbols-outlined"> verified_user </span>
        </div>
        <div class="guarantee__info">
          <span class="guarantee__info-title">Гарантія.</span>
          38 місяців. Обмін/повернення товару протягом 14 днів
        </div>
      </div>
    </div>
    <!-- =============================================== -->
  </div>
</div>
