.form-item-title {
  .title {
    font-size: 18px;
  }
}

.form-item-price {
  width: 100%;
  font-size: 18px;
}

.form-item-action-checkbox {
  font-size: 18px;
}

.form-item-action-price {
  width: 100%;
  font-size: 18px;
}
