<!--  -->
<ng-container *ngIf="InputData_Price">
  <div class="item-price">
    <div class="form-item-title">
      <p class="title">Ціна товару*</p>
    </div>

    <mat-form-field class="form-item-price" [appearance]="appearance">
      <mat-label>Ціна товару</mat-label>
      <input
        matInput
        type="number"
        class="disabled-spin-button"
        required
        placeholder="9 950"
        [(ngModel)]="InputData_Price.price"
        (ngModelChange)="procentActionNumber(); updatePriceStore()"
        [min]="0"
        [max]="InputData_Price.maxPrice"
      />

      <mat-error *ngIf="InputData_Price.price === null">
        Ціна товару є <strong> обов'язковою! </strong>
      </mat-error>
      <mat-error *ngIf="InputData_Price.price && InputData_Price.price <= -1">
        Ціна товару не може бути меншою за 0
      </mat-error>
      <mat-error
        *ngIf="
          InputData_Price.price &&
          InputData_Price.price > InputData_Price.maxPrice
        "
      >
        Ціна товару не може бути
        <strong> більшою </strong> за
        {{ InputData_Price.maxPrice | price }} грн.
      </mat-error>
    </mat-form-field>
  </div>

  <div class="item-action">
    <p class="form-item-action-checkbox">
      <mat-checkbox
        color="warn"
        (click)="procentActionNumber()"
        [(ngModel)]="InputData_Price.action"
        (ngModelChange)="updateActionStore()"
      >
        Акція
      </mat-checkbox>
    </p>

    <ng-container *ngIf="InputData_Price.action">
      <ng-container *ngIf="InputData_Price.actionProcent !== null">
        <p
          *ngIf="
            InputData_Price.actionProcent <= InputData_Price.minActionProcent
          "
        >
          Знижка {{ InputData_Price.actionProcent }}%
        </p>
        <p
          class="error"
          *ngIf="
            InputData_Price.actionProcent > InputData_Price.minActionProcent
          "
        >
          Мінімальна знижка на товар {{ InputData_Price.minActionProcent }}%
        </p>
      </ng-container>

      <ng-container *ngIf="InputData_Price.actionProcent === null">
        <p>Знижка не визначена</p>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="InputData_Price.action">
      <mat-form-field class="form-item-action-price" [appearance]="appearance">
        <mat-label>Акційна ціна</mat-label>
        <input
          matInput
          type="number"
          class="disabled-spin-button"
          required
          [(ngModel)]="InputData_Price.actionPrice"
          (ngModelChange)="procentActionNumber(); updateActionPriceStore()"
          [min]="0"
        />
        <mat-error
          *ngIf="InputData_Price.actionPrice === null && InputData_Price.action"
        >
          Ви відмітили "Акція" прапорцем тому знижка товару є
          <strong> обов'язковою! </strong>
        </mat-error>
        <mat-error
          *ngIf="
            InputData_Price.actionPrice && InputData_Price.actionPrice <= -1
          "
        >
          Введіть значення
          <strong> 0 </strong>
          або більше
        </mat-error>
      </mat-form-field>
    </ng-container>
  </div>
</ng-container>
