.portal-navigation__wrapper {
  .portal-navigation {
    display: flex;
    flex-wrap: wrap;
    &__item {
      width: 20%;
      border-left: 1px solid #b1b1b1;
      .portal-navigation__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 15px;
        cursor: pointer;
        &:hover {
          .portal-navigation__text {
            color: #3f51b5;
            text-decoration: underline;
          }
        }
        .portal-navigation__image {
          margin-bottom: 10px;
        }
        .portal-navigation__text {
          color: black;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .portal-navigation__wrapper {
    .portal-navigation {
      flex-wrap: nowrap;

      overflow-x: scroll;
      overflow-y: hidden;
      &__item {
        min-width: 175px;
        height: 140px;
        .portal-navigation__link {
          padding: 0 5px;
          .portal-navigation__image {
            margin-bottom: 5px;
            img {
              width: 100%;
              max-width: 100px;
              height: 100%;
              max-height: 100px;
            }
          }
          .portal-navigation__text {
            font-size: 14px;
          }
        }
      }
    }
  }
}
