<div class="card">
  <div class="card__content">
    <div class="card__content-breadcrumbs">
      <span
        [matTooltip]="'Інтернет магазин'"
        routerLink="/"
        class="material-symbols-outlined breadcrumbs-item"
      >
        home
      </span>

      <span class="material-symbols-outlined"> navigate_next </span>

      <span
        [matTooltip]="levelOne ? levelOne : ''"
        routerLink="/"
        class="breadcrumbs-item"
        >{{ levelOne }}</span
      >

      <span class="material-symbols-outlined"> navigate_next </span>

      <span
        [matTooltip]="levelTwo ? levelTwo : ''"
        routerLink="/"
        class="breadcrumbs-item"
        >{{ levelTwo }}</span
      >

      <span class="material-symbols-outlined"> navigate_next </span>

      <span>{{ location }}</span>
    </div>
    <!--  -->
    <div class="card__content-title">
      <h1 class="card__title">{{ titleProduct }}</h1>
    </div>
    <!--  -->
    <div class="card__content-navigation">
      <ng-container>
        <nav class="nav">
          <li *ngFor="let item of linkNavigate; let idx = index">
            <a
              class="nav__item"
              [routerLink]="item.link"
              routerLinkActive="nav__item-active"
              (click)="navBar(item.link)"
              >{{ item.name }}
              <span class="info__number" *ngIf="idx === 2">14</span>
              <span class="info__number" *ngIf="idx === 3">6</span>
            </a>
          </li>
          <div
            class="nav_link_bar"
            [ngStyle]="{
              transform:
                activeRoute === 'info'
                  ? 'translateX(0px)'
                  : activeRoute === 'characteristics'
                  ? 'translateX(160px)'
                  : activeRoute === 'comments'
                  ? 'translateX(320px)'
                  : activeRoute === 'questions'
                  ? 'translateX(480px)'
                  : activeRoute === 'photo'
                  ? 'translateX(640px)'
                  : activeRoute === 'accessories'
                  ? 'translateX(800px)'
                  : ''
            }"
          ></div>
        </nav>
      </ng-container>
      <!--  -->
    </div>
    <!--  -->
    <div class="card__content-product">
      <div class="product-content">
        <router-outlet></router-outlet>
      </div>
      <!--  -->
      <div class="product-sidebar">
        <app-card-big-sidebar
          *ngIf="sidebar === 1"
          [productSidebar]="product"
        ></app-card-big-sidebar>
        <app-card-small-sidebar
          *ngIf="sidebar === 2"
          [productSidebar]="product"
        ></app-card-small-sidebar>
      </div>
    </div>
  </div>
</div>
