<!--  -->
<div class="shopping__cart">
  <button
    class="shopping__cart-btn"
    mat-button
    [ngClass]="{ btn__icon: typeBtn === 0, btn__text: typeBtn === 1 }"
    (click)="addRemoveShoppingCart()"
    [disabled]="buttonDisabled || counter === 0"
  >
    <span
      class="material-symbols-outlined"
      [ngClass]="{ icon__active: checkingShoppingCart() }"
    >
      shopping_cart
    </span>
    <span *ngIf="typeBtn === 1 && !checkingShoppingCart()">Придбати</span>
    <span *ngIf="typeBtn === 1 && checkingShoppingCart()">В кошику</span>
  </button>
</div>
