.shopping__cart {
  &-btn {
  }
  .btn__icon {
    transition: 0.4s;
    background-color: #fff;
    border: 1px solid #fff;
    &:disabled {
      cursor: not-allowed;
      &:hover {
        color: #fff;
        background-color: #fff;
        border: 1px solid #fff;
        .material-symbols-outlined {
          color: green;
        }
      }
    }
    &:hover {
      transition: 0.4s;
      background-color: rgba(0, 128, 0, 0.1);
    }
    .material-symbols-outlined {
      transition: 0.4s;
      color: green;
      font-variation-settings: "FILL" 0;
    }
    .icon__active {
      transition: 0.4s;
      font-variation-settings: "FILL" 1;
    }
  }
  .btn__text {
    transition: 0.4s;
    color: #fff;
    background-color: #3f51b5;
    border: 1px solid #3f51b5;
    &:disabled {
      cursor: not-allowed;
      &:hover {
        color: #fff;
        background-color: #3f51b5;
        border: 1px solid #3f51b5;
        .material-symbols-outlined {
          color: #fff;
        }
      }
    }
    &:hover {
      transition: 0.4s;
      color: #3f51b5;
      background-color: #fff;
      .material-symbols-outlined {
        color: #3f51b5;
      }
    }
    .material-symbols-outlined {
      transition: 0.4s;
      color: #fff;
      font-variation-settings: "FILL" 0;
    }
    .icon__active {
      transition: 0.4s;
      font-variation-settings: "FILL" 1;
    }
  }
}

@media (max-width: 1200px) {
  .shopping__cart {
    .btn__text {
      width: 100%;
    }
  }
}
