<!--  -->
<header class="header">
  <div class="header__content">
    <!--  -->
    <div class="header__content-menu">
      <div class="menu-logo">
        <div class="logo">
          <a routerLink="/" class="logo__link">
            <span class="material-symbols-outlined"> home_app_logo </span>
            <h1 class="title__site">&nbsp;Online Store</h1>
          </a>
        </div>
      </div>
      <div class="menu-catalog">
        <button
          class="menu-catalog--button catalog__button"
          (click)="catalogOnOff()"
        >
          <span
            class="material-symbols-outlined catalog__button"
            *ngIf="!catalogShow"
          >
            category
          </span>
          <span
            class="material-symbols-outlined catalog__button"
            *ngIf="catalogShow"
          >
            close
          </span>
          Каталог
        </button>
      </div>
    </div>
    <!--  -->
    <div class="header__content-search">
      <div class="search" #blockSearch>
        <form
          class="search__form"
          method="get"
          (ngSubmit)="search(searchField.value)"
        >
          <input
            class="search__form-field"
            type="text"
            placeholder="Пошук..."
            #searchField
            [matAutocomplete]="auto"
            (focus)="
              searchField.classList.add('search__form-field--focus');
              buttonSubmit.classList.add('search__form-field__input--focus')
            "
            (focusout)="
              searchField.classList.remove('search__form-field--focus');
              buttonSubmit.classList.remove('search__form-field__input--focus')
            "
          />

          <button type="submit" class="search__form-btn" #buttonSubmit>
            Знайти
          </button>

          <mat-autocomplete
            [panelWidth]="blockSearch.clientWidth"
            #auto="matAutocomplete"
          >
            <li class="mat_autocomplete-clear">
              <span
                class="mat_autocomplete-clear-text"
                (click)="clearHistorySearch()"
              >
                Очистити історію
              </span>
            </li>
            <mat-option
              *ngFor="let history of historySearchArray"
              [value]="history"
              (onSelectionChange)="search(history)"
              (click)="search(history)"
            >
              {{ history }}
            </mat-option>
          </mat-autocomplete>
        </form>
      </div>
    </div>
    <!--  -->
    <div class="header__content-burger__menu">
      <div
        class="menu"
        (click)="clickBurgerMenu()"
        [ngClass]="{ menu__active: burgerMenu }"
      >
        <span class="menu__line"></span>
      </div>
    </div>
    <!--  -->
    <div class="header__content-user" [ngClass]="{ user__burger: burgerMenu }">
      <div class="user">
        <div class="user__header-burger" *ngIf="burgerMenu">
          <div class="logo">
            <a routerLink="/" class="logo__link" (click)="clickBurgerMenu()">
              <span class="material-symbols-outlined"> home_app_logo </span>
              <h1 class="title__site">&nbsp;Online Store</h1>
            </a>
          </div>
        </div>
        <ul class="user__list">
          <!--  -->
          <li class="user__list-link" *ngIf="windowWidth <= 767">
            <a class="link-item" (click)="catalogOnOff()">
              <span
                class="material-symbols-outlined catalog__button"
                *ngIf="!catalogShow"
              >
                category
              </span>
              <span
                class="material-symbols-outlined catalog__button"
                *ngIf="catalogShow"
              >
                close
              </span>
              <span *ngIf="burgerMenu"> Каталог товарів </span>
            </a>
          </li>
          <!--  -->
          <li class="user__list-link" *ngIf="!potentialToken">
            <a
              routerLink="/login"
              link-item-active="link-item-active"
              class="link-item"
              (click)="clickBurgerMenu()"
            >
              <span class="material-symbols-outlined google-icon"> login </span>
              <span *ngIf="burgerMenu">Вхід</span>
            </a>
          </li>
          <!--  -->
          <li class="user__list-link" *ngIf="potentialToken">
            <a
              routerLink="/account"
              routerLinkActive="link-item-active"
              class="link-item"
              (click)="clickBurgerMenu()"
            >
              <span class="material-symbols-outlined google-icon">
                person
              </span>
              <span *ngIf="burgerMenu">Персональний кабінет</span>
            </a>
          </li>
          <!--  -->
          <li class="user__list-link" *ngIf="potentialToken">
            <a
              routerLink="/wishlist"
              routerLinkActive="link-item-active"
              class="link-item"
              [matBadge]="
                lengthFavorite === 0
                  ? ''
                  : lengthFavorite && lengthFavorite >= 100
                  ? '99+'
                  : lengthFavorite
              "
              matBadgeColor="primary"
              matBadgeSize="medium"
              matBadgePosition="above before"
              (click)="clickBurgerMenu()"
            >
              <span class="material-symbols-outlined google-icon">
                favorite
              </span>
              <span *ngIf="burgerMenu">Вподобані товари</span>
            </a>
          </li>
          <!--  -->
          <li class="user__list-link" *ngIf="potentialToken">
            <a
              routerLink="/cart"
              routerLinkActive="link-item-active"
              class="link-item"
              [matBadge]="
                lengthCart === 0
                  ? ''
                  : lengthCart && lengthCart >= 100
                  ? '99+'
                  : lengthCart
              "
              matBadgeColor="primary"
              matBadgeSize="medium"
              matBadgePosition="above before"
              (click)="clickBurgerMenu()"
            >
              <span class="material-symbols-outlined google-icon">
                shopping_cart
              </span>
              <span *ngIf="burgerMenu">Корзина товарів</span>
            </a>
          </li>
          <!--  -->
          <li class="user__list-link" *ngIf="potentialToken">
            <a
              routerLink="/"
              class="link-item"
              (click)="logout(); clickBurgerMenu()"
            >
              <span class="material-symbols-outlined google-icon">
                logout
              </span>
              <span *ngIf="burgerMenu">Вихід</span>
            </a>
          </li>
          <!--  -->
        </ul>
      </div>
    </div>
    <!--  -->
  </div>

  <div class="header__catalog" *ngIf="catalogShow">
    <app-catalog class="header__catalog-content"></app-catalog>
  </div>
</header>
