.header {
  width: 100%;
  height: 90px;
  background-color: #349948;

  &__content {
    width: 100%;
    height: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-menu {
      margin: 0 10px;
      width: 100%;
      max-width: 400px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media screen and(max-width:767px) {
        justify-content: center;
      }
      .menu-logo {
        .logo {
          .logo__link {
            display: flex;
            align-items: center;
            @media screen and(max-width:767px) {
              display: none;
            }
            img {
              width: 36px;
              height: 36px;
            }
            .title__site {
              color: #000;
              margin: 0;
              font-size: calc(
                18px + (24 - 18) * ((100vw - 768px) / (1920 - 768))
              );
              @media screen and(max-width: 880px) {
                display: none;
              }
            }
          }
        }
      }
      .menu-catalog {
        &--button {
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          border: none;
          border-radius: 5px;
          background-color: #fff;
          font-weight: 600;
          font-family: "Mont";
          font-size: calc(12px + (16 - 12) * ((100vw - 768px) / (1920 - 768)));
          height: 40px;
          cursor: pointer;
          padding: 0 calc(10px + (20 - 10) * ((100vw - 768px) / (1920 - 768)));
          transition: 0.4s;
          &:hover {
            transition: 0.4s;
            background-color: #dddddd;
          }
          span {
            font-size: calc(
              14px + (24 - 14) * ((100vw - 768px) / (1920 - 768))
            );
            margin-right: 5px;
          }
          .icon__img {
            margin-right: 5px;
            width: 24px;
            height: 24px;
            img {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
    &-search {
      width: 100%;
      max-width: 800px;
      width: 100%;
      .search {
        form {
          display: flex;
          justify-content: center;
          position: relative;
          .search__site {
            height: 40px;
            border-radius: 5px 0 0 5px;
            padding: 0 0 0 20px;
            width: 100%;
            max-width: 480px;
            font-size: 16px;
            font-family: "Mont";
            border: none;
            border-bottom: 2px solid #fff;
            transition: 0.4s;
          }
          .input-disabled {
            transition: 0.4s;
            border-bottom: 2px solid red;
            &::placeholder {
              color: red;
              transition: 0.4s;
            }
          }
          .help__text {
            position: absolute;
            bottom: -20px;
            left: 105px;
            font-weight: 700;
            color: rgb(216, 66, 66);
            font-size: 14px;
          }
          .button__search {
            background-color: #faa627;
            color: #fff;
            font-family: "Mont";
            font-weight: 600;
            font-size: 16px;
            height: 40px;
            width: 80px;
            border-radius: 0 5px 5px 0;
            border: none;
            cursor: pointer;
            transition: 0.4s;
            &:hover {
              transition: 0.4s;
              background-color: #d48d21;
            }
            &:disabled {
              transition: 0.4s;
              opacity: 0.7;
            }
          }
        }
      }
    }
    &-user {
      margin: 0 10px;
      width: 100%;
      max-width: 400px;
      display: flex;
      justify-content: center;
      .menu {
      }
      .user {
        &__list {
          display: flex;
          &-link {
            .link-item {
              margin: 0 calc(5px + (10 - 5) * ((100vw - 768px) / (1920 - 768)));
              display: flex;
              align-items: center;
              justify-content: center;
              transition: 0.4s;
              color: #000;
              border-radius: 5px;
              .google-icon {
                font-size: calc(
                  24px + (36 - 24) * ((100vw - 768px) / (1920 - 768))
                );
                .favorite__number .cart__number {
                  position: absolute;
                  span {
                    font-size: 22px;
                    font-weight: 400;
                  }
                }
              }
              &:hover {
                transition: 0.4s;
                background-color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
