<!--  -->
<header class="header">
  <div class="header__content">
    <!--  -->
    <div class="header__content-menu">
      <div class="menu-logo">
        <div class="logo">
          <a routerLink="/" class="logo__link">
            <img src="../../../../assets/img/globe.png" alt="" />
            <h1 class="title__site">&nbsp;Globe Site</h1>
          </a>
        </div>
      </div>
      <div class="menu-catalog">
        <button
          class="menu-catalog--button catalog__button"
          #catalog
          (click)="catalogOnOff()"
        >
          <span
            class="material-symbols-outlined catalog__button"
            *ngIf="!catalogShow"
          >
            category
          </span>
          <span
            class="material-symbols-outlined catalog__button"
            *ngIf="catalogShow"
          >
            close
          </span>
          Каталог
        </button>
      </div>
    </div>
    <!--  -->
    <div class="header__content-search">
      <div class="search">
        <form
          class="form"
          action=""
          method="get"
          (ngSubmit)="search(searchSiteInput.value)"
        >
          <input
            type="text"
            name="search"
            id="searchSite"
            autocomplete="off"
            #searchSiteInput
            class="search__site"
            placeholder="Пошук..."
            [(ngModel)]="searchText"
            (focus)="searchSiteInputFocus = true"
            (focusout)="focusout()"
          />
          <button type="submit" class="button__search">Найти</button>
          <div
            class="form__history"
            *ngIf="historySearchArray.length >= 1 && searchSiteInputFocus"
          >
            <div class="form__history-content">
              <div class="history__header">
                <p class="history__header-title">Історія пошуку</p>
                <p class="history__header-clear" (click)="clearHistorySearch()">
                  Очистити пошук
                </p>
              </div>
              <ul class="history__list">
                <li
                  class="history__list-item"
                  *ngFor="let history of historySearchArray"
                  (click)="search(history)"
                >
                  {{ history }}
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--  -->
    <div class="header__content-user">
      <div class="menu"></div>
      <div class="user">
        <ul class="user__list">
          <!--  -->
          <li class="user__list-link" *ngIf="!potentialToken">
            <a
              routerLink="/login"
              link-item-active="link-item-active"
              class="link-item"
            >
              <span class="material-symbols-outlined google-icon"> login </span>
            </a>
          </li>
          <!--  -->
          <li class="user__list-link" *ngIf="potentialToken">
            <a
              routerLink="/account"
              routerLinkActive="link-item-active"
              class="link-item"
            >
              <span class="material-symbols-outlined google-icon">
                person
              </span>
            </a>
          </li>
          <!--  -->
          <li class="user__list-link" *ngIf="potentialToken">
            <a
              routerLink="/wishlist"
              routerLinkActive="link-item-active"
              class="link-item"
              [matBadge]="
                lengthFavorite === 0
                  ? ''
                  : lengthFavorite && lengthFavorite >= 100
                  ? '99+'
                  : lengthFavorite
              "
              matBadgeColor="primary"
              matBadgeSize="medium"
            >
              <span class="material-symbols-outlined google-icon">
                favorite
              </span>
            </a>
          </li>
          <!--  -->
          <li class="user__list-link" *ngIf="potentialToken">
            <a
              routerLink="/cart"
              routerLinkActive="link-item-active"
              class="link-item"
              [matBadge]="
                lengthCart === 0
                  ? ''
                  : lengthCart && lengthCart >= 100
                  ? '99+'
                  : lengthCart
              "
              matBadgeColor="primary"
              matBadgeSize="medium"
            >
              <span class="material-symbols-outlined google-icon">
                shopping_cart
              </span>
            </a>
          </li>
          <!--  -->
          <li class="user__list-link" *ngIf="potentialToken">
            <a routerLink="/" class="link-item" (click)="logout()">
              <span class="material-symbols-outlined google-icon">
                logout
              </span>
            </a>
          </li>
          <!--  -->
        </ul>
      </div>
    </div>
    <!--  -->
  </div>

  <div class="header__catalog" *ngIf="catalogShow">
    <app-catalog class="header__catalog-content"></app-catalog>
  </div>
</header>
