<!--  -->
<div class="user">
  <div class="user__content">
    <!--  -->
    <div
      class="user__content-hello"
      [ngClass]="{
        morning__day: time >= 4 && time < 10,
        light__day: time >= 10 && time < 18,
        evening__day: time >= 18 && time < 23,
        night__day: (time >= 23 && time < 25) || (time >= 0 && time < 4)
      }"
    >
      <h2
        class="hello__title"
        [ngClass]="{
          hello__title__night:
            (time >= 0 && time < 10) || (time >= 18 && time < 25)
        }"
      >
        {{
          time >= 0 && time <= 4
            ? "Доброї ночі"
            : time >= 5 && time < 12
            ? "Доброго ранку"
            : time >= 12 && time < 18
            ? "Доброго дня"
            : time >= 18 && time < 23
            ? "Доброго вечора"
            : time >= 23 && time < 25
            ? "Доброї ночі"
            : "Котра у вас година?"
        }}
      </h2>
      <h2
        class="hello__title"
        [ngClass]="{
          hello__title__night:
            (time >= 0 && time < 10) || (time >= 18 && time < 25)
        }"
      >
        &nbsp;{{ newUser.name }}
      </h2>
      <!--  -->
      <h2
        class="hello__title"
        *ngIf="newUser.lastName"
        [ngClass]="{
          hello__title__night:
            (time >= 0 && time < 10) || (time >= 18 && time < 25)
        }"
      >
        &nbsp;{{ newUser.lastName }}
      </h2>
      <!--  -->
      <h2
        [ngClass]="{
          hello__title__night:
            (time >= 0 && time < 10) || (time >= 18 && time < 25)
        }"
      >
        !
      </h2>
    </div>
    <!--  -->
    <div class="user__content-info">
      <div class="params">
        <div class="params__title">
          <h2 class="title">Інформація про користувача</h2>
          <hr />
        </div>
        <div class="params__user">
          <div class="params__user-list user__avatar">
            <div class="info">
              <p class="info__title">Аватар</p>
            </div>
            <div class="user__avatar-box">
              <input
                type="file"
                class="file__avatar"
                #fileAvatar
                (change)="onFileUpload($event)"
              />
              <ng-container *ngIf="imagePreview !== null">
                <img
                  [src]="url_server + imagePreview"
                  class="placeholder__avatar"
                  (click)="addAvatar()"
                />
              </ng-container>
              <ng-container *ngIf="imagePreview === null">
                <img
                  [src]="'../../../../assets/img/placeholder__avatar.webp'"
                  class="placeholder__avatar"
                  (click)="addAvatar()"
                />
              </ng-container>
              <div class="user__avatar-box-button">
                <button
                  mat-raised-button
                  color="warn"
                  (click)="deleteAvatar()"
                  [disabled]="imagePreview === null"
                >
                  Видалити аватар
                </button>
              </div>
            </div>
          </div>
          <div class="params__user-list user__name">
            <div class="info">
              <p class="info__title">Ім'я*</p>
            </div>
            <div class="user__name-content">
              <mat-form-field
                class="example-full-width input-width"
                appearance="fill"
              >
                <mat-label>Ім'я</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="Ім'я"
                  required
                  [(ngModel)]="newUser.name"
                  maxlength="20"
                  minlength="3"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="params__user-list user__lastname">
            <div class="info">
              <p class="info__title">Прізвище</p>
            </div>
            <div class="user__lastname-content">
              <mat-form-field
                class="example-full-width input-width"
                appearance="fill"
              >
                <mat-label>Прізвище</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="Прізвище"
                  [(ngModel)]="newUser.lastName"
                  maxlength="20"
                  minlength="4"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="params__user-list user__email">
            <div class="info">
              <p class="info__title">Пошта*</p>
            </div>
            <div class="user__email-content">
              <mat-form-field
                class="example-full-width input-width"
                appearance="fill"
              >
                <mat-label>Пошта</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="Пошта"
                  required
                  [(ngModel)]="newUser.email"
                  [disabled]="true"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="params__user-list user__birthday">
            <div class="info">
              <p class="info__title">Дата народження</p>
            </div>
            <div class="user__birthday-content">
              <mat-form-field
                class="example-full-width input-width"
                appearance="fill"
              >
                <mat-label>Дата народження</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  [(ngModel)]="newUser.birthday"
                  [max]="maxDate"
                />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="params__user-list user__country">
            <div class="info">
              <p class="info__title">Країна</p>
            </div>
            <div class="user__country-content">
              <mat-form-field appearance="fill" class="input-width">
                <mat-label>Країна</mat-label>
                <mat-select
                  [(ngModel)]="newUser.country"
                  name="country"
                  #selectCountry
                >
                  <mat-option
                    *ngFor="let country of countryList"
                    [value]="country"
                  >
                    {{ country }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="params__user-list user__save">
            <div class="example-button-row">
              <button
                mat-raised-button
                color="primary"
                (click)="saveInfo()"
                [disabled]="
                  user.avatar === newUser.avatar &&
                  user.name === newUser.name &&
                  user.lastName === newUser.lastName &&
                  user.email === newUser.email &&
                  user.birthday === newUser.birthday &&
                  user.country === newUser.country
                "
              >
                Зберегти
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
  </div>
</div>
