<!--  -->
<div class="content-element-center" *ngIf="loader">
  <mat-spinner></mat-spinner>
</div>

<div class="user" *ngIf="!loader">
  <div class="user__content">
    <!--  -->
    <div
      class="user__content-hello"
      [ngClass]="{
        morning__day: time >= 4 && time < 10,
        light__day: time >= 10 && time < 18,
        evening__day: time >= 18 && time < 23,
        night__day: (time >= 23 && time < 25) || (time >= 0 && time < 4)
      }"
    >
      <h2
        class="hello__title"
        [ngClass]="{
          hello__title__night:
            (time >= 0 && time < 10) || (time >= 18 && time < 25)
        }"
      >
        {{
          time >= 0 && time <= 4
            ? "Доброї ночі"
            : time >= 5 && time < 12
            ? "Доброго ранку"
            : time >= 12 && time < 18
            ? "Доброго дня"
            : time >= 18 && time < 23
            ? "Доброго вечора"
            : time >= 23 && time < 25
            ? "Доброї ночі"
            : "Котра у вас година?"
        }}
      </h2>
      <h2
        class="hello__title"
        [ngClass]="{
          hello__title__night:
            (time >= 0 && time < 10) || (time >= 18 && time < 25)
        }"
      >
        &nbsp;{{ user_name }}
      </h2>
      <h2
        class="hello__title"
        *ngIf="user_lastName"
        [ngClass]="{
          hello__title__night:
            (time >= 0 && time < 10) || (time >= 18 && time < 25)
        }"
      >
        &nbsp;{{ user_lastName }}
      </h2>
      <h2
        [ngClass]="{
          hello__title__night:
            (time >= 0 && time < 10) || (time >= 18 && time < 25)
        }"
      >
        !
      </h2>
    </div>
    <!--  -->
    <div class="user__content-info">
      <div class="params">
        <div class="params__title">
          <h2 class="title">Інформація про користувача</h2>
          <hr />
        </div>
        <div class="params__user">
          <!-- ================================================== -->
          <div class="params__user-list user__avatar">
            <div class="info">
              <p class="info__title">Аватар</p>
            </div>
            <div class="user__avatar-box">
              <input
                type="file"
                class="file__avatar"
                #load_avatar
                (change)="onFileUpload($event); load_avatar.value = ''"
              />
              <ng-container *ngIf="user_avatar === null">
                <img
                  class="placeholder__avatar"
                  [src]="'../../../../assets/img/placeholder__avatar.webp'"
                  (click)="clickLoadAvatar()"
                  *ngIf="imagePreview === null && images === null"
                />
                <img
                  class="placeholder__avatar"
                  [src]="imagePreview"
                  (click)="clickLoadAvatar()"
                  *ngIf="imagePreview !== null && images !== null"
                />
              </ng-container>
              <ng-container *ngIf="user_avatar !== null">
                <img
                  class="placeholder__avatar"
                  [src]="'../../../../assets/img/placeholder__avatar.webp'"
                  (click)="clickLoadAvatar()"
                  *ngIf="imagePreview === null && images === null"
                />
                <img
                  class="placeholder__avatar"
                  [src]="url_server_folder + user_avatar"
                  (click)="clickLoadAvatar()"
                  *ngIf="imagePreview !== null && images === null"
                />
                <img
                  class="placeholder__avatar"
                  [src]="imagePreview"
                  (click)="clickLoadAvatar()"
                  *ngIf="imagePreview !== null && images !== null"
                />
              </ng-container>
              <div
                class="user__avatar-box-button"
                *ngIf="images !== null || imagePreview !== null"
              >
                <button
                  mat-raised-button
                  color="warn"
                  (click)="deleteUserAvatar()"
                >
                  Видалити аватар
                </button>
              </div>
            </div>
          </div>
          <!-- ================================================== -->
          <div class="params__user-list user__name">
            <div class="info">
              <p class="info__title">Ім'я*</p>
            </div>
            <div class="user__name-content">
              <mat-form-field class="input-width" appearance="fill">
                <mat-label>Ім'я</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="Ім'я"
                  [(ngModel)]="user_name"
                  [maxlength]="maxLengthName"
                  required
                />
              </mat-form-field>
            </div>
          </div>
          <!-- ================================================== -->
          <div class="params__user-list user__lastname">
            <div class="info">
              <p class="info__title">Прізвище</p>
            </div>
            <div class="user__lastname-content">
              <mat-form-field class="input-width" appearance="fill">
                <mat-label>Прізвище</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="Прізвище"
                  [(ngModel)]="user_lastName"
                  [maxlength]="maxLengthLastName"
                />
              </mat-form-field>
            </div>
          </div>
          <!-- ================================================== -->
          <div class="params__user-list user__email">
            <div class="info">
              <p class="info__title">Пошта*</p>
            </div>
            <div class="user__email-content">
              <mat-form-field class="input-width" appearance="fill">
                <mat-label>Пошта</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="Пошта"
                  required
                  [(ngModel)]="user_email"
                  [disabled]="true"
                />
              </mat-form-field>
            </div>
          </div>
          <!-- ================================================== -->
          <div class="params__user-list user__birthday">
            <div class="info">
              <p class="info__title">Дата народження</p>
            </div>
            <div class="user__birthday-content">
              <mat-form-field class="input-width" appearance="fill">
                <mat-label>Дата народження</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  [(ngModel)]="user_birthday"
                  [max]="presentDay"
                />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <!-- ================================================== -->
          <div class="params__user-list user__country">
            <div class="info">
              <p class="info__title">Країна</p>
            </div>
            <div class="user__country-content">
              <mat-form-field appearance="fill" class="input-width">
                <mat-label>Країна</mat-label>
                <mat-select [(ngModel)]="user_country" name="country">
                  <mat-option
                    *ngFor="let country of countryList"
                    [value]="country"
                  >
                    {{ country }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <!-- ================================================== -->
          <div class="params__user-list user__save">
            <div class="example-button-row">
              <button
                mat-raised-button
                color="primary"
                (click)="updateUser()"
                [disabled]="
                  user_avatar === imagePreview &&
                  user_name === user_account?.name &&
                  (user_lastName.length < minLengthLastName ||
                    (user_account?.lastName !== null &&
                      user_lastName === user_account?.lastName)) &&
                  user_birthday === user_account?.birthday &&
                  user_country === user_account?.country
                "
              >
                Зберегти
              </button>
            </div>
          </div>
          <!-- ================================================== -->
        </div>
      </div>
    </div>
    <!--  -->
  </div>
</div>
