.user {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  &__content {
    padding: 0;
    &-hello {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 150px;
      border-radius: 0px 0px 4px 4px;
      &.morning__day {
        background-size: cover;
        background-position-y: calc(
          0px + (-400 - 0) * ((100vw - 320px) / (1920 - 320))
        );
        background-image: url("../../../../assets/img/day__morning.webp");
      }
      &.light__day {
        background-size: cover;
        background-position-y: calc(
          0px + (-460 - 0) * ((100vw - 320px) / (1920 - 320))
        );
        background-image: url("../../../../assets/img/day__light.webp");
      }
      &.evening__day {
        background-size: cover;
        background-position-y: calc(
          0px + (-550 - 0) * ((100vw - 320px) / (1920 - 320))
        );
        background-image: url("../../../../assets/img/day__evening.webp");
      }
      &.night__day {
        background-size: cover;
        background-position-y: calc(
          0px + (-400 - 0) * ((100vw - 320px) / (1920 - 320))
        );
        background-image: url("../../../../assets/img/day__night.webp");
      }
      .hello__title {
      }
      .hello__title__night {
        color: #fff;
      }
    }
    &-info {
      margin-top: 25px;
      margin-bottom: 25px;
      @media screen and (max-width: 1600px) {
        padding: 0 15px;
      }
      .params {
        &__title {
          font-size: 24px;
          color: #535353;
        }
        &__user {
          &-list {
            display: flex;
            align-items: center;
            margin-top: 10px;
            @media screen and (max-width: 600px) {
              flex-direction: column;
              justify-content: center;
            }
            .info {
              width: 320px;
              &__title {
                font-size: 18px;
                @media screen and (max-width: 600px) {
                  margin-left: 10px;
                }
              }
            }
            .input-width {
              // width: 100%;
              // max-width: 300px;
              width: 300px;
            }
          }
          .user__avatar {
            &-box {
              width: 100%;
              // height: 300px;
              max-width: 300px;
              // max-height: 300px;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              .file__avatar {
                display: none;
              }
              .placeholder__avatar {
                max-width: 300px;
                max-height: 300px;
                border-radius: 5px;
                cursor: pointer;
              }
              &-button {
                margin-top: 5px;
              }
            }
          }
          .user__name {
            &-content {
              &-input {
                border: 2px solid #b1b1b1;
                padding: 5px 5px 5px 10px;
                font-size: 16px;
                border-radius: 5px;
                font-family: "Mont";
                transition: 0.4s;
                width: 320px;
                height: 40px;
                &:focus {
                  transition: 0.4s;
                  border: 2px solid rgb(62, 108, 194);
                  box-shadow: rgba(62, 108, 194, 0.2) 0px 8px 24px;
                }
              }
            }
          }
          .user__lastname {
            &-content {
              &-input {
                border: 2px solid #b1b1b1;
                padding: 5px 5px 5px 10px;
                font-size: 16px;
                border-radius: 5px;
                font-family: "Mont";
                transition: 0.4s;
                width: 320px;
                height: 40px;
                &:focus {
                  transition: 0.4s;
                  border: 2px solid rgb(62, 108, 194);
                  box-shadow: rgba(62, 108, 194, 0.2) 0px 8px 24px;
                }
              }
            }
          }
          .user__email {
            &-content {
              &-info {
                font-size: 20px;
                font-weight: 500;
              }
            }
          }
          .user__birthday {
            &-content {
              display: flex;
              align-items: center;
              justify-content: space-between;
              &-info {
                font-size: 16px;
                font-weight: 600;
                margin-right: 5px;
              }
            }
          }
          .user__country {
            &-content {
              &-select {
                border: 2px solid #b1b1b1;
                padding: 5px 5px 5px 10px;
                font-size: 16px;
                border-radius: 5px;
                font-family: "Mont";
                transition: 0.4s;
                width: 320px;
                cursor: pointer;
                &:focus {
                  transition: 0.4s;
                  border: 2px solid rgb(62, 108, 194);
                  box-shadow: rgba(62, 108, 194, 0.2) 0px 8px 24px;
                }
                // option {}
              }
            }
          }
          .user__save {
            &-button {
              padding: 10px 30px;
              font-family: "Mont";
              font-size: 16px;
              text-transform: uppercase;
              border: none;
              border-radius: 5px;
              background-color: #faa627;
              color: #fff;
              cursor: pointer;
              transition: 0.4s;
              &:hover {
                transition: 0.4s;
                background-color: #d48d21;
              }
              &:disabled {
                cursor: auto;
                opacity: 0.5;
                background-color: #535353;
                transition: 0.4s;
              }
            }
          }
        }
      }
    }
  }
}
