<!--  -->
<div class="account">
  <div class="account__content">
    <mat-toolbar class="navbar">
      <a class="navbar__item" routerLinkActive="active" routerLink="user"
        >Кабінет</a
      >
      <a class="navbar__item" routerLinkActive="active" routerLink="product"
        >Мої товари</a
      >
      <a class="navbar__item" routerLinkActive="active" routerLink="settings"
        >Налаштування</a
      >
      <!-- <a class="navbar__item" routerLinkActive="active" routerLink="newsletters">Сповіщення</a> -->
      <a class="navbar__item" routerLink="" (click)="logout()">Вийти</a>
    </mat-toolbar>
  </div>
</div>
<router-outlet></router-outlet>
