.main-history-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  .history__list-item {
    width: 20%;
    height: 450px;
    @media (max-width: 1400px) {
      width: 25%;
    }
    @media (max-width: 1250px) {
      width: 33.3%;
    }
    @media (max-width: 1000px) {
      width: 25%;
    }
    @media (max-width: 767px) {
      width: 33.3%;
    }
    @media (max-width: 600px) {
      width: 50%;
    }
  }
}
