.user-card {
  height: 100%;
  &-content {
    height: 100%;
    background-color: #fff;
    border: 1px solid #e9e9e9;
    padding: calc(5px + (15 - 5) * ((100vw - 320px) / (1920 - 320)));
    position: relative;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
    &:hover {
      transition: 0.4s;
    }
    .content-action {
      position: absolute;
      top: 10px;
      left: 10px;
      .user-card__action {
        background-color: #f84147;
        border-radius: 50px;
        padding: 0px 8px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 600;
      }
    }
    .content-img {
      width: 100%;
      height: 65%;
      cursor: pointer;
      &-block {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .placeholder__img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
    .content-title {
      margin-top: 10px;
      margin-bottom: 5px;
      overflow: hidden;
      height: 32px;
      line-height: 16px;
      cursor: pointer;
      .user-card__title {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
      }
    }
    .content-action-price {
      height: 16px;
      .user-card__action-price {
        color: #535353;
        text-decoration: line-through;
        font-weight: 500;
        font-size: 14px;
        margin: 0;
      }
    }
    .content-about {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-price {
      }
    }
    .content-status {
    }
    .content-btn {
      display: flex;
      justify-content: space-between;
      .button {
        // width: 35%;
        padding: 0 calc(4px + (16 - 4) * ((100vw - 320px) / (1920 - 320)));
      }
    }
  }
}
