<!--  -->
<div class="content-element-center" *ngIf="loader">
  <mat-spinner></mat-spinner>
</div>

<div class="product" *ngIf="!loader">
  <div class="product__content">
    <!--  -->
    <div class="product__content-button">
      <div class="example-button-row center">
        <button mat-fab color="primary" routerLink="/account/product/new">
          <span class="material-symbols-outlined"> add </span>
        </button>
      </div>
    </div>
    <!--  -->
    <div class="product__content-card">
      <div class="card" *ngFor="let product of productList; let i = index">
        <mat-card XSmall>
          <div class="image">
            <img [src]="url_server + product.imageSrc[0]" class="image__src" />
          </div>
          <mat-card-content>
            <div class="mat-title">
              <p
                [matTooltip]="product.name"
                matTooltipClass="example-tooltip-primary"
              >
                {{ product.name.slice(0, 20) }}
                <span *ngIf="product.name.length > 20">...</span>
              </p>
            </div>
            <div class="price">
              <p class="mat-subheading-1">{{ product.price | price }}&#8372;</p>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button
              mat-button
              color="primary"
              [routerLink]="'new/' + product._id"
            >
              Змінити
            </button>
            <button
              mat-button
              color="warn"
              (click)="deleteProduct(product._id, i)"
            >
              Видалити
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      <!--  -->
      <div class="notcart" *ngIf="productList.length === 0 && loader === false">
        <h2 class="notcart__title">
          У вас ще не має товарів, виставлених на продаж.
        </h2>
      </div>
    </div>
    <!--  -->
  </div>
</div>
