// Mixin ===============================================================================
// @import "../../../../scss/mixin.scss";
// Mixin ===============================================================================
// Variable ============================================================================
// @import "../../../../scss/variable.scss";
// Variable ============================================================================

.product {
  // width: 100%;
  position: relative;
  &__content {
    max-width: 1600px;
    margin: 0 auto;
    @media screen and (max-width: 1600px) {
      padding: 0 15px;
    }
    &-button {
      position: fixed;
      z-index: 10;
      bottom: 25px;
      right: 25px;
    }
    &-card {
      display: flex;
      // justify-content: space-between;
      justify-content: center;
      flex-wrap: wrap;

      .card {
        margin: 0 5px;
        width: 300px;
        height: 450px;
        margin-top: calc(10px + (20 - 10) * ((100vw - 768px) / (1920 - 768)));
        .mat-card {
          padding: calc(10px + (20 - 10) * ((100vw - 768px) / (1920 - 768)));
        }
        .image {
          width: calc(280px + (260 - 280) * ((100vw - 768px) / (1920 - 768)));
          height: 300px;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          &__src {
            max-width: 100%;
            max-height: 100%;
          }
        }
        .mat-title {
          p {
            margin: 0;
            font-size: calc(
              12px + (20 - 12) * ((100vw - 768px) / (1920 - 768))
            );
          }
        }
        .price {
          p {
            margin: 0;
          }
        }
        mat-card-content {
          margin-bottom: 5px;
        }
      }

      .notcart {
        width: 100%;
        &__title {
          color: #535353;
          font-size: 26px;
          text-align: center;
        }
      }
    }
  }
}
