<!--  -->
<div class="content-element-center" *ngIf="loader">
  <mat-spinner></mat-spinner>
</div>

<div class="product" *ngIf="!loader">
  <div class="product__content">
    <!--  -->
    <div class="product__content-button">
      <div class="example-button-row center">
        <button mat-fab color="primary" routerLink="/account/product/new">
          <span class="material-symbols-outlined" translate="no"> add </span>
        </button>
      </div>
    </div>
    <!--  -->
    <div class="product__content-card">
      <ul class="catalog-card">
        <li
          class="catalog-card-item"
          *ngFor="let product of productList; let idx = index"
        >
          <app-product-card-user
            [productItem]="product"
            (transferDeleteProduct)="deleteById($event, idx)"
          ></app-product-card-user>
        </li>
      </ul>
      <!--  -->
      <div class="pagination" *ngIf="productList.length > 0">
        <mat-paginator
          [length]="maxPage * limit"
          [pageSize]="limit"
          [pageIndex]="currentPage - 1"
          [pageSizeOptions]="pageSizeOptions"
          (page)="onPaginateChange($event)"
        >
        </mat-paginator>
      </div>
      <!--  -->
      <div class="not-card" *ngIf="productList.length === 0">
        <h2 class="not-card__title">
          У вас ще не має товарів, виставлених на продаж
        </h2>
      </div>
    </div>
    <!--  -->
  </div>
</div>
