<!--  -->
<div class="product">
  <div class="product__content">
    <div class="product__content-button">
      <div class="example-button-row center">
        <!-- <button
          mat-stroked-button
          color="primary"
          routerLink="/account/product/new"
        >
          Створити товар
        </button> -->
        <button mat-fab color="primary" routerLink="/account/product/new">
          <span class="material-symbols-outlined"> add </span>
        </button>
      </div>
    </div>

    <div class="center">
      <mat-spinner *ngIf="loader"></mat-spinner>
    </div>

    <div class="product__content-cart" *ngIf="!loader">
      <ng-container *ngIf="false">
        <div
          class="cart__box cart__item"
          *ngFor="let product of productList; let i = index"
        >
          <div class="cart__box-body">
            <div class="body__preview">
              <img
                class="preview__img"
                [src]="url_server + product.imageSrc"
                alt=""
              />
            </div>
            <div class="body__discount" *ngIf="product.action">
              <p class="disount__text">Акція</p>
            </div>
            <div class="body__action">
              <div class="like">
                <img src="../../../assets/img/like.png" alt="" />
              </div>
              <div class="scales">
                <img src="../../../assets/img/scales.png" alt="" />
              </div>
            </div>
          </div>
          <div class="cart__box-wrapper">
            <div class="wrapper__title">
              <h2 class="title__cart" [title]="product.name">
                {{ product.name.substr(0, 20) }}
                <span *ngIf="product.name.length > 20">...</span>
              </h2>
            </div>
            <div class="wrapper__price">
              <p class="price__cart">Ціна&nbsp;{{ product.price | price }}</p>
              <!-- <p class="currency__cart">&nbsp;грн.</p> -->
              <p class="currency__cart">грн.</p>
            </div>
            <div
              class="wrapper__keywords"
              *ngIf="product.keyWords?.[0] !== '' "
            >
              <ng-container
                *ngFor="let keywords of product.keyWords; let idx = index"
              >
                <!-- ngIf вивід тільки перших 5 ключових слів -->
                <span class="wrapper__keywords-item" *ngIf="idx <= 4"
                  >#{{ keywords }}
                </span>
              </ng-container>
            </div>
            <div
              class="wrapper__keywords-not"
              *ngIf="product.keyWords?.length === 1 && product.keyWords?.[0] == '' "
            >
              <p class="wrapper__keywords-not--title">Ключові слова відсутні</p>
            </div>
            <div class="wrapper__category">
              <p class="wrapper__category-name">
                <span>{{
                  categoryList[product.category[0]].nameCategory
                }}</span>
                <span class="slesh">/</span>
                <span>{{
                  categoryList[product.category[0]].nameListCategory[
                    product.category[1]
                  ].subNameCategory
                }}</span>
                <span class="slesh" *ngIf="product.category.length === 3"
                  >/</span
                >
                <span *ngIf="product.category.length === 3">{{
                  categoryList[product.category[0]].nameListCategory[
                    product.category[1]
                  ].subNameListCategory[product.category[2]]
                    .titleSubNameListCategory
                }}</span>
              </p>
            </div>
            <div class="wrapper__description">
              <p class="wrapper__description-text">
                {{ product.description.substr(0, 100) }}...
              </p>
            </div>
            <div class="wrapper__button">
              <button
                class="btn__cart btn__cart-edit"
                routerLink="new"
                [queryParams]="{ id: product._id }"
              >
                Змінити
              </button>
              <button
                class="btn__cart btn__cart-delete"
                (click)="deleteProduct(product._id, i)"
              >
                Видалити
              </button>
            </div>
          </div>
        </div>
      </ng-container>
      <!--  -->
      <div class="cart" *ngFor="let product of productList; let i = index">
        <mat-card class="example-card" XSmall>
          <img
            [src]="url_server + product.imageSrc"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <div class="mat-title">
              <p
                [matTooltip]="product.name"
                matTooltipClass="example-tooltip-primary"
              >
                {{ product.name.slice(0, 20) }}
                <span *ngIf="product.name.length > 20">...</span>
              </p>
            </div>
            <div class="price">
              <p class="mat-subheading-1">{{ product.price | price }}грн.</p>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button
              mat-button
              color="primary"
              routerLink="new"
              [queryParams]="{ id: product._id }"
            >
              Змінити
            </button>
            <button
              mat-button
              color="warn"
              (click)="deleteProduct(product._id, i)"
            >
              Видалити
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      <!--  -->
      <div class="notcart" *ngIf="productList.length === 0 && loader === false">
        <h2 class="notcart__title">
          У вас ще не має товарів, виставлених на продаж.
        </h2>
      </div>
    </div>
  </div>
</div>
