<!--  -->
<div class="popuap">
  <div class="container-register">
    <a class="close-btn" (click)="closePopuap()">&Cross;</a>
    <div class="navidation">
      <a
        class="navidation__link"
        routerLink="/login"
        routerLinkActive="active__nav"
        >Вхід</a
      >
      <a
        class="navidation__link"
        routerLink="/register"
        routerLinkActive="active__nav"
        >Реєстрація</a
      >
    </div>
    <h1 class="register__title">Реєстрація</h1>
    <form
      class="container-register__form"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <div class="content__form form__name">
        <label
          for=""
          class="content__form-label"
          [ngClass]="{
            'label-disabled':
              form.controls['name'].invalid && form.controls['name'].touched
          }"
          >Ім'я акаунта</label
        >
        <input
          id="name"
          type="name"
          formControlName="name"
          class="content__form-input"
          [ngClass]="{
            'input-disabled':
              form.controls['name'].invalid && form.controls['name'].touched
          }"
        />
        <span
          class="help__text-input"
          *ngIf="form.controls['name'].invalid && form.controls['name'].touched"
        >
          <span
            class="error-intut-data"
            *ngIf="form.controls['name'].errors?.['required']"
            >Ім'я не має бути порожнім.</span
          >
          <span
            class="error-intut-data"
            *ngIf="form.controls['name'].errors?.['minlength']"
          >
            Ім'я занадто короте.</span
          >
        </span>
      </div>

      <div class="content__form form__email">
        <label
          for=""
          class="content__form-label"
          [ngClass]="{
            'label-disabled':
              form.controls['email'].invalid && form.controls['email'].touched
          }"
          >Ел. пошта</label
        >
        <input
          id="email"
          type="email"
          formControlName="email"
          class="content__form-input"
          [ngClass]="{
            'input-disabled':
              form.controls['email'].invalid && form.controls['email'].touched
          }"
        />
        <span
          class="help__text-input"
          *ngIf="
            form.controls['email'].invalid && form.controls['email'].touched
          "
        >
          <span
            class="error-intut-data"
            *ngIf="form.controls['email'].errors?.['required']"
            >Емейл не має бути порожнім.</span
          >
          <span
            class="error-intut-data"
            *ngIf="form.controls['email'].errors?.['email']"
            >Введіть корректний емейл.</span
          >
        </span>
      </div>

      <div class="content__form form__password">
        <label
          for=""
          class="content__form-label"
          [ngClass]="{
            'label-disabled':
              form.controls['password'].invalid &&
              form.controls['password'].touched
          }"
          >Пароль</label
        >
        <input
          id="password"
          type="password"
          formControlName="password"
          class="content__form-input"
          [ngClass]="{
            'input-disabled':
              form.controls['password'].invalid &&
              form.controls['password'].touched
          }"
        />
        <span
          class="help__text-input"
          *ngIf="
            form.controls['password'].invalid &&
            form.controls['password'].touched
          "
        >
          <span
            class="error-intut-data"
            *ngIf="form.controls['password'].errors?.['required']"
            >Пароль не має бути порожнім.</span
          >
          <span
            class="error-intut-data"
            *ngIf="form.controls['password'].errors?.['minlength']"
          >
            Пароль занадто короткий.</span
          >
        </span>
      </div>

      <div class="content__form form__button">
        <button
          type="submit"
          class="content__form-button"
          [disabled]="form.invalid || form.disabled"
        >
          Зареєструватися
        </button>
      </div>
    </form>
  </div>
</div>
