.new {
  max-width: 1600px;
  margin: 0 auto;

  @media (max-width: 1600px) {
    padding: 0 calc(5px + (15 - 5) * ((100vw - 320px) / (1920 - 320)));
  }

  &-content {
    margin-bottom: 100px;
    &-form {
      .form-item {
        margin-bottom: 12px;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
      }
      .form-create {
      }
    }
  }
}
