<!-- -->

<div class="new" *ngIf="!loader">
  <div class="new-content">
    <form class="new-content-form">
      <!-- ============================================================== -->
      <div class="form-item form-photo">
        <app-product-new-photo
          [InputData_Photo]="InputData.photoData"
          [update]="update"
          (sendPhoto)="getPhoto($event)"
        ></app-product-new-photo>
      </div>
      <!-- ============================================================== -->
      <div class="form-item form-name">
        <app-product-new-title
          [InputData_Title]="InputData.titleData"
          [appearance]="InputData.appearance"
        ></app-product-new-title>
      </div>
      <!-- ============================================================== -->
      <div class="form-item form-price">
        <app-product-new-price
          [InputData_Price]="InputData.priceData"
          [appearance]="InputData.appearance"
          [update]="update"
        ></app-product-new-price>
      </div>
      <!-- ============================================================== -->
      <div class="form-item form-status">
        <app-product-new-status
          [InputData_Status]="InputData.statusData"
          [appearance]="InputData.appearance"
          [update]="update"
        ></app-product-new-status>
      </div>
      <!-- ============================================================== -->
      <div class="form-item form-category">
        <app-product-new-category
          [InputData_Category]="InputData.categoryData"
          [update]="update"
        ></app-product-new-category>
      </div>
      <!-- ============================================================== -->
      <ng-container
        *ngIf="
          InputData.categoryData.categorySelected &&
          InputData.categoryData.categoryNumber !== null &&
          InputData.characteristicsData.characteristicsName
        "
      >
        <div class="form-item form-characteristics">
          <app-product-new-characteristics
            [InputData_Characteristics]="InputData.characteristicsData"
            [appearance]="InputData.appearance"
            [update]="update"
          ></app-product-new-characteristics>
        </div>
      </ng-container>
      <!-- ============================================================== -->
      <div class="form-item form-keywords">
        <app-product-new-keywords
          [InputData_Keywords]="InputData.keywordsData"
          [appearance]="InputData.appearance"
          [update]="update"
        ></app-product-new-keywords>
      </div>
      <!-- ============================================================== -->
      <div class="form-item form-description">
        <app-product-new-description
          [InputData_Description]="InputData.descriptionData"
          [appearance]="InputData.appearance"
        ></app-product-new-description>
      </div>
      <!-- ============================================================== -->
      <div class="form-item form-submit">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          *ngIf="!update"
          [disabled]="functionWorks"
          (click)="createProduct()"
        >
          Створити
        </button>
        <!--  -->
        <button
          mat-raised-button
          color="primary"
          type="submit"
          *ngIf="update"
          [disabled]="functionWorks"
          (click)="createProduct()"
        >
          Зберегти
        </button>
      </div>
      <!-- ============================================================== -->
    </form>
  </div>
</div>

<div class="content-element-center" *ngIf="loader">
  <mat-spinner></mat-spinner>
</div>
