<!--  -->
<div *ngIf="loader" class="content-element-center">
  <mat-spinner></mat-spinner>
</div>

<div class="card__characteristics">
  <div class="card__characteristics-content" *ngIf="!loader">
    <div class="params">
      <div
        class="params__item"
        *ngFor="let option of characteristicsName; let idx = index"
      >
        <div class="params__item-title">
          <p class="title title-option">{{ option.name.en }}</p>
          <p class="line"></p>
        </div>
        <div class="params__item-info">
          <ng-container
            *ngFor="let params of characteristics[idx]; let i = index"
          >
            <p class="title title-info">{{ option.select[params].name.en }}</p>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
