<!--  -->
<ng-container *ngIf="InputData_Status">
  <div class="item-counter">
    <div class="form-item-title">
      <p class="title">Кількість товару*</p>
    </div>

    <mat-form-field class="form-item-counter" [appearance]="appearance">
      <mat-label>Кількість товару в наявності</mat-label>
      <input
        type="number"
        matInput
        class="disabled-spin-button"
        [(ngModel)]="InputData_Status.counter"
        (ngModelChange)="updateCounterStore()"
        [min]="0"
        required
      />

      <mat-error *ngIf="InputData_Status.counter === null">
        Кількість товару є <strong> обов'язковою! </strong>
      </mat-error>
      <mat-error
        *ngIf="
          InputData_Status.counter !== null && InputData_Status.counter <= -1
        "
      >
        Кількість товару не може бути меншою за 0
      </mat-error>
    </mat-form-field>
  </div>

  <div class="item-status">
    <div class="form-item-title">
      <p class="title">Статус товару*</p>
    </div>

    <mat-form-field class="form-item-status" [appearance]="appearance">
      <mat-label>Статус товару</mat-label>
      <mat-select
        required
        [(ngModel)]="InputData_Status.status"
        (ngModelChange)="updateStatusStore()"
      >
        <ng-container *ngIf="InputData_Status.counter !== null">
          <mat-option
            [value]="0"
            [disabled]="
              InputData_Status.counter === 0 || InputData_Status.counter <= 10
            "
          >
            В наявності
          </mat-option>
          <mat-option [value]="1" [disabled]="InputData_Status.counter !== 0">
            Очікується постачання
          </mat-option>
          <mat-option [value]="2" [disabled]="InputData_Status.counter !== 0">
            Немає в наявності
          </mat-option>
          <mat-option
            [value]="3"
            [disabled]="
              InputData_Status.counter > 10 ||
              InputData_Status.counter === 0 ||
              InputData_Status.counter < 0
            "
          >
            Закінчується
          </mat-option>
        </ng-container>
        <ng-container *ngIf="InputData_Status.counter === null">
          <mat-option [value]="-1" [disabled]="true">
            Введіть кількість товару
          </mat-option>
        </ng-container>
      </mat-select>

      <mat-error
        *ngIf="
          InputData_Status.status === null && InputData_Status.counter === null
        "
      >
        Щоб вибрати <strong>статус</strong> товару, для початку введіть
        <strong> кількість товару </strong>
      </mat-error>
      <mat-error
        *ngIf="
          InputData_Status.status === null && InputData_Status.counter !== null
        "
      >
        Веберіть <strong> статус </strong> товару
      </mat-error>
      <mat-error
        *ngIf="
          InputData_Status.status !== null &&
          InputData_Status.status < 0 &&
          InputData_Status.status > 3 &&
          InputData_Status.counter !== null
        "
      >
        <strong>Cтатус </strong> товару вибрано не коректно
      </mat-error>
    </mat-form-field>
  </div>
</ng-container>
