// Width, Height
$maxWidth: 1920;
$maxWidth2: 1920;
$maxWidth3: 768;
$minWidth: 320;
$maxWidthContent: 1620;
// Colors
$fff: #fff;
$black: #000;
$hed: #349948;
$hed-h: #2c813d;
$btn: #faa627;
$btn-h: #d48d21;
$placeholder: #99cca3;
$bg-c: #534343;
$text: #b1b1b1;
